/* line 17, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* fonts */
@font-face {
  font-family: 'PT Serif';
  src: url("../fonts/PTF55F_W.eot");
  src: local("PT Serif"), url("../fonts/PTF55F_W.woff") format("woff"), url("../fonts/PTF55F_W.ttf") format("truetype"), url("../fonts/PTF55F_W.svg#PTSerif-Regular") format("svg");
}

@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  src: url("../fonts/PTF56F_W.eot");
  src: local("PT Serif Italic"), url("../fonts/PTF56F_W.woff") format("woff"), url("../fonts/PTF56F_W.ttf") format("truetype"), url("../fonts/PTF56F_W.svg#PTSerif-Italic") format("svg");
}

@font-face {
  font-family: 'PT Serif';
  src: url("../fonts/PTF75F_W.eot");
  font-style: normal;
  font-weight: bold;
  src: local("PT Serif Bold"), url("../fonts/PTF75F_W.woff") format("woff"), url("../fonts/PTF75F_W.ttf") format("truetype"), url("../fonts/PTF75F_W.svg#PTSerif-Bold") format("svg");
}

/* end of fonts */
/* line 42, ../sass/style.scss */
body {
  font: 16px/24px "PT Serif", "Times New Roman", "Times", serif;
  color: black;
  background: url('../images/body-bg.png?1380020356');
}

/* line 24, ../sass/_base.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 28, ../sass/_base.scss */
body {
  margin-bottom: 240px;
  /* bottom = footer height */
}

/* line 31, ../sass/_base.scss */
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 240px;
}

/* line 51, ../sass/style.scss */
a,
a:visited {
  color: #105b63;
  text-decoration: none;
  border-bottom: 1px solid #146e78;
}

/* line 57, ../sass/style.scss */
a:hover {
  color: #eb5124;
  border-bottom: 1px solid #eb5124;
}

/* line 62, ../sass/style.scss */
h1 {
  font-weight: bold;
  font-size: 44px;
  line-height: 50px;
  margin-bottom: 24px;
}

/* line 69, ../sass/style.scss */
h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 24px;
}

/* line 77, ../sass/style.scss */
h3 {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 24px;
}

/* line 84, ../sass/style.scss */
h4 {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
}

/* line 90, ../sass/style.scss */
li {
  list-style: disc;
}
/* line 93, ../sass/style.scss */
ul.filter-menu li {
  list-style: none;
}

/* line 98, ../sass/style.scss */
ol li {
  list-style: decimal;
}

/* line 102, ../sass/style.scss */
p {
  margin-bottom: 12px;
}

/* line 106, ../sass/style.scss */
.clear {
  clear: both;
}

/* line 110, ../sass/style.scss */
.hidden {
  display: none;
}

/* line 114, ../sass/style.scss */
.page {
  *zoom: 1;
  width: 960px;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.page:after {
  content: "";
  display: table;
  clear: both;
}

/* line 118, ../sass/style.scss */
.header, .footer-inner {
  *zoom: 1;
  width: 960px;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  clear: both;
}
/* line 38, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.header:after, .footer-inner:after {
  content: "";
  display: table;
  clear: both;
}

/* line 124, ../sass/style.scss */
.header {
  height: 96px;
  background: url('../images/header-bg.png?1380020356');
}
/* line 128, ../sass/style.scss */
.header .vertical-line {
  position: absolute;
  top: 0;
  background: url('../images/header-vertical-line.png?1380020356') no-repeat;
  width: 2px;
  height: 96px;
}
/* line 133, ../sass/style.scss */
.header .vertical-line.left {
  left: -20px;
}
/* line 137, ../sass/style.scss */
.header .vertical-line.right {
  right: -15px;
}

/* line 143, ../sass/style.scss */
.slider a {
  border-bottom: none;
}

/* line 147, ../sass/style.scss */
.backing {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow-x: hidden;
}
/* line 155, ../sass/style.scss */
.backing .wrap {
  position: relative;
  width: 1024px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 162, ../sass/style.scss */
.backing .wrap .top-red-line {
  position: absolute;
  left: -128px;
  background: url('../images/top-red-line.png?1380020356') no-repeat;
  width: 1280px;
  height: 384px;
}
/* line 168, ../sass/style.scss */
.backing .wrap .bottom-red-line {
  position: absolute;
  left: -128px;
  bottom: 0px;
  background: url('../images/bottom-red-line.png?1380020356') no-repeat;
  width: 1280px;
  height: 192px;
}
/* line 175, ../sass/style.scss */
.backing .wrap .bottle-pump {
  position: absolute;
  left: -128px;
  bottom: 0px;
  background: url('../images/big-bottle-pump.png?1380020356') no-repeat;
  width: 640px;
  height: 215px;
}
/* line 182, ../sass/style.scss */
.backing .wrap .big-bottle {
  position: absolute;
  right: -128px;
  bottom: 141px;
  background: url('../images/big-bottle.png?1380020356') no-repeat;
  width: 440px;
  height: 480px;
}
/* line 189, ../sass/style.scss */
.backing .wrap .index-girl {
  position: absolute;
  right: 0;
  top: 72px;
  background: url('../images/index-girl.png?1380020356') no-repeat;
  width: 312px;
  height: 264px;
}
/* line 196, ../sass/style.scss */
.backing .wrap .girl-1 {
  position: absolute;
  right: 0;
  top: 50px;
  background: url('../images/girl-1.png?1380020356') no-repeat;
  width: 352px;
  height: 312px;
}
/* line 203, ../sass/style.scss */
.backing .wrap .girl-2 {
  position: absolute;
  right: 0;
  top: 85px;
  background: url('../images/girl-2.png?1380020356') no-repeat;
  width: 269px;
  height: 252px;
}
/* line 210, ../sass/style.scss */
.backing .wrap .girl-3 {
  position: absolute;
  right: 0;
  top: 52px;
  background: url('../images/girl-3.png?1380020356') no-repeat;
  width: 346px;
  height: 314px;
}

/* line 219, ../sass/style.scss */
.center-nav {
  position: relative;
  width: 520px;
  float: left;
  margin-right: 0px;
  display: inline;
  margin-left: 240px;
  height: 48px;
  line-height: 22px;
}
/* line 226, ../sass/style.scss */
.center-nav a {
  padding-top: 5px;
}
/* line 230, ../sass/style.scss */
.center-nav li {
  margin-right: 38px;
  margin-bottom: 15px;
}
/* line 235, ../sass/style.scss */
.center-nav li:last-child {
  margin-right: 0;
}

/* line 240, ../sass/style.scss */
.main {
  margin-top: 24px;
  width: 720px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 245, ../sass/style.scss */
.main-full {
  margin-top: 72px;
  width: 960px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 250, ../sass/style.scss */
.right-aside {
  margin-top: 115px;
  width: 200px;
  float: right;
  margin-right: 0;
  *margin-left: 0px;
  display: inline;
}

/* line 255, ../sass/style.scss */
.slider {
  height: 336px;
}

/* line 259, ../sass/style.scss */
.product {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  margin-top: 48px;
  margin-right: 36px;
}
/* line 266, ../sass/style.scss */
.product a {
  padding-top: 5px;
}
/* line 270, ../sass/style.scss */
.right-aside .product {
  width: 240px;
  float: left;
  margin-right: 0px;
  display: inline;
}
/* line 274, ../sass/style.scss */
.product:hover {
  border: 3px solid #ffd34e;
  border-radius: 3px;
  padding-top: 14px;
  margin-top: 31px;
  margin-right: 33px;
  padding-bottom: 21px;
  margin-bottom: -24px;
  padding-left: 21px;
  margin-left: -24px;
}

/* line 287, ../sass/style.scss */
.cart-product {
  margin-top: 48px;
  overflow: hidden;
  *zoom: 1;
}
/* line 291, ../sass/style.scss */
.cart-product .img-box {
  width: 160px;
  float: left;
  margin-right: 0px;
  display: inline;
  margin-right: 40px;
  text-align: center;
}
/* line 297, ../sass/style.scss */
.cart-product .description {
  width: 200px;
  float: left;
  margin-right: 0px;
  display: inline;
  margin-right: 80px;
}
/* line 302, ../sass/style.scss */
.cart-product .price-input-box {
  width: 120px;
  float: left;
  margin-right: 0px;
  display: inline;
  text-align: center;
  margin-right: 80px;
}
/* line 308, ../sass/style.scss */
.cart-product .price-value-box {
  width: 120px;
  float: left;
  margin-right: 0px;
  display: inline;
}
/* line 312, ../sass/style.scss */
.cart-product .delete-cart-product-box {
  width: 80px;
  float: left;
  margin-right: 0px;
  display: inline;
  text-align: center;
}
/* line 316, ../sass/style.scss */
.cart-product .delete-cart-product-box .delete {
  margin-top: 7px;
}

/* line 322, ../sass/style.scss */
.volume {
  font-style: italic;
  color: #949494;
  font-size: 14px;
}

/* line 328, ../sass/style.scss */
.price-box {
  margin-bottom: 24px;
  display: inline-block;
  width: 120px;
}

/* line 334, ../sass/style.scss */
.price-input-box {
  display: inline-block;
}

/* line 338, ../sass/style.scss */
.catalog-clear {
  clear: both;
  margin-bottom: 48px;
}

/* line 343, ../sass/style.scss */
.price {
  font-size: 14px;
  font-style: italic;
  line-height: 30px;
  position: relative;
}
/* line 349, ../sass/style.scss */
.price .big {
  font-style: normal;
  font-size: 20px;
  font-weight: bold;
}
/* line 355, ../sass/style.scss */
.price .old-price {
  font-size: 14px;
}
/* line 359, ../sass/style.scss */
.price.crossed:before {
  content: '';
  position: absolute;
  top: 15%;
  left: -7%;
  background: url('../images/price-cross.png?1380020356') no-repeat;
  width: 76px;
  height: 13px;
}

/* line 368, ../sass/style.scss */
.top-heading {
  width: 500px;
}

/* line 373, ../sass/style.scss */
.footer-inner {
  margin-top: 96px;
  height: 144px;
}

/* line 378, ../sass/style.scss */
.bottle {
  float: right;
  position: relative;
}
/* line 382, ../sass/style.scss */
.bottle img {
  display: block;
}
/* line 386, ../sass/style.scss */
.bottle .bubble {
  background: url('../images/footer-bottle-bubble.png?1380020356') no-repeat;
  width: 280px;
  height: 168px;
  position: absolute;
  bottom: 48px;
  right: 80px;
  display: table;
}
/* line 393, ../sass/style.scss */
.bottle .bubble .bubble-text {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #87610d;
  font-style: italic;
  padding: 0 40px;
}
/* line 403, ../sass/style.scss */
.bottle .bubble .bubble-text a {
  color: #87610d;
  font-style: italic;
  border-bottom: 1px solid #87610d;
}
/* line 409, ../sass/style.scss */
.bottle .bubble .bubble-text a:hover {
  color: #eb5124;
  border-bottom: 1px solid #eb5124;
}

/* line 417, ../sass/style.scss */
.logo {
  background: url('../images/logo.png?1380020356') no-repeat;
  width: 200px;
  height: 120px;
}
/* line 420, ../sass/style.scss */
.logo a {
  border-bottom: none;
}
/* line 424, ../sass/style.scss */
.footer .logo {
  width: 240px;
  float: left;
  margin-right: 0px;
  display: inline;
  height: 96px;
  margin-top: 48px;
}
/* line 430, ../sass/style.scss */
.header .logo {
  position: absolute;
  top: 20px;
  left: 48px;
}

/* line 438, ../sass/style.scss */
.header .menu {
  width: 520px;
  float: left;
  margin-right: 0px;
  display: inline;
  margin-left: 240px;
  position: relative;
}
/* line 443, ../sass/style.scss */
.header .menu li {
  height: 36px;
  line-height: 36px;
  position: relative;
}
/* line 449, ../sass/style.scss */
.header .menu a {
  color: #b07a1f;
  border-bottom: 1px solid #b07a1f;
  font-weight: bold;
  font-size: 18px;
}
/* line 456, ../sass/style.scss */
.header .menu a:hover {
  color: #eb5124;
  border-bottom: 1px solid #eb5124;
}
/* line 461, ../sass/style.scss */
.header .menu .rhomb {
  content: '';
  display: inline-block;
  background: url('../images/little-rhomb.png?1380020356') no-repeat;
  width: 9px;
  height: 9px;
  background-position: center;
  width: 30px;
}
/* line 469, ../sass/style.scss */
.header .menu .modal-container {
  position: absolute;
  z-index: 100;
  white-space: nowrap;
  top: 79px;
  left: -100%;
}
/* line 478, ../sass/style.scss */
.header .menu li:hover .wrap {
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 80px;
  background: url('../images/main-menu-bg-center.png?1380020356');
  background-position: center;
  top: -18px;
  padding-top: 18px;
}
/* line 489, ../sass/style.scss */
.header .menu li:hover .wrap:before, .header .menu li:hover .wrap:after {
  content: '';
  display: block;
  position: absolute;
  top: 20px;
}
/* line 496, ../sass/style.scss */
.header .menu li:hover .wrap:before {
  background: url('../images/main-menu-bg-left.png?1380020356');
  height: 38px;
  width: 12px;
  left: -12px;
}
/* line 503, ../sass/style.scss */
.header .menu li:hover .wrap:after {
  background: url('../images/main-menu-bg-right.png?1380020356');
  height: 38px;
  width: 13px;
  right: -13px;
}
/* line 513, ../sass/style.scss */
.header .menu li.with-modal:hover .wrap {
  background: url('../images/main-menu-bg-center-modal.png?1380020356');
  background-position: center;
}
/* line 520, ../sass/style.scss */
.footer .menu {
  width: 360px;
  float: left;
  margin-right: 0px;
  display: inline;
  margin-top: 48px;
}
/* line 524, ../sass/style.scss */
.footer .menu li {
  margin-right: 18px;
}
/* line 529, ../sass/style.scss */
.right-aside .menu {
  font-size: 18px;
  line-height: 36px;
}
/* line 533, ../sass/style.scss */
.right-aside .menu li.current {
  margin-left: -12px;
  margin-right: -12px;
  overflow: hidden;
}
/* line 538, ../sass/style.scss */
.right-aside .menu li.current a {
  border: none;
  color: #db9e36;
}
/* line 543, ../sass/style.scss */
.right-aside .menu li.current a:hover {
  color: #db9e36;
  cursor: default;
}
/* line 548, ../sass/style.scss */
.right-aside .menu li.current .wrap {
  float: left;
  background: url('../images/aside-menu-current-bg.png?1380020356') repeat-x;
}
/* line 553, ../sass/style.scss */
.right-aside .menu li.current:before {
  content: '';
  display: block;
  float: left;
  width: 12px;
  height: 35px;
  background: url('../images/aside-menu-current-bg-left.png?1380020356');
}
/* line 562, ../sass/style.scss */
.right-aside .menu li.current:after {
  content: '';
  display: block;
  float: left;
  width: 12px;
  height: 35px;
  background: url('../images/aside-menu-current-bg-right.png?1380020356');
}
/* line 573, ../sass/style.scss */
.menu li {
  display: inline-block;
  vertical-align: top;
}
/* line 578, ../sass/style.scss */
.menu .vertical li {
  display: block;
}

/* line 583, ../sass/style.scss */
.wrapped-menu {
  margin-left: -40px;
}
/* line 586, ../sass/style.scss */
.wrapped-menu ul {
  background: url('../images/wrapped-menu-bg.png?1380020356') repeat-y;
  padding-left: 45px;
}
/* line 591, ../sass/style.scss */
.wrapped-menu:before {
  content: '';
  display: block;
  background: url('../images/wrapped-menu-header-bg.png?1380020356') no-repeat;
  width: 240px;
  height: 24px;
}
/* line 597, ../sass/style.scss */
.wrapped-menu:after {
  content: '';
  display: block;
  background: url('../images/wrapped-menu-footer-bg.png?1380020356') no-repeat;
  width: 240px;
  height: 24px;
}

/* line 605, ../sass/style.scss */
.underlined-menu:after {
  content: '';
  display: block;
  margin-top: 30px;
  margin-right: -10px;
  margin-left: -10px;
  margin-bottom: 24px;
  border-bottom: 1px solid #949494;
}

/* line 616, ../sass/style.scss */
.octoberweb {
  font-size: 14px;
  font-style: italic;
  line-height: 30px;
}
/* line 621, ../sass/style.scss */
.octoberweb .label:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  background: url('../images/little-octo-logo.png?1380020356') no-repeat;
  width: 19px;
  height: 19px;
  margin-right: 4px;
  margin-left: 4px;
}

/* line 631, ../sass/style.scss */
.phone {
  width: 200px;
  float: right;
  margin-right: 0;
  *margin-left: 0px;
  display: inline;
  width: 190px;
  margin-top: 6px;
  text-align: right;
  line-height: 24px;
  padding-right: 10px;
  color: #444444;
}
/* line 640, ../sass/style.scss */
.phone .big {
  font-size: 24px;
  font-weight: bold;
}
/* line 645, ../sass/style.scss */
.phone .code {
  vertical-align: top;
  font-style: italic;
  font-size: 14px;
  margin-right: 5px;
}

/* line 654, ../sass/style.scss */
.breadcrumbs {
  font-size: 10px;
  line-height: 36px;
  color: #999999;
}
/* line 659, ../sass/style.scss */
.breadcrumbs li {
  display: inline-block;
}
/* line 663, ../sass/style.scss */
.breadcrumbs li:after {
  content: ' / ';
  display: 'inline-block';
}
/* line 668, ../sass/style.scss */
.breadcrumbs a {
  color: #999999;
  border-color: #999999;
}

/* line 674, ../sass/style.scss */
.slider {
  position: relative;
  text-align: center;
}
/* line 678, ../sass/style.scss */
.slider .window {
  background: url('../images/slider-window2.png?1380020356') no-repeat;
  width: 720px;
  height: 312px;
  position: absolute;
  z-index: 99;
}
/* line 684, ../sass/style.scss */
.slider img {
  width: 720px;
  height: 312px;
}
/* line 689, ../sass/style.scss */
.slider .controls {
  display: inline-block;
}
/* line 692, ../sass/style.scss */
.slider .controls li {
  background: url('../images/slider-control.png?1380020356');
  background-position: 0 0;
  width: 24px;
  height: 24px;
  display: inline-block;
  cursor: pointer;
}
/* line 701, ../sass/style.scss */
.slider .controls li.current {
  background: url('../images/slider-control.png?1380020356');
  background-position: -24px 0;
}

/* line 708, ../sass/style.scss */
.sticky-box {
  position: absolute;
  width: 160px;
  bottom: 240px;
  right: 75px;
  white-space: nowrap;
  line-height: 30px;
  overflow: hidden;
}

/* line 718, ../sass/style.scss */
.filter {
  position: relative;
  margin-bottom: 24px;
}
/* line 722, ../sass/style.scss */
.filter .drop-down {
  position: absolute;
  left: 85%;
  top: 0;
  white-space: nowrap;
}
/* line 728, ../sass/style.scss */
.filter .drop-down .title {
  display: inline-block;
  line-height: 24px;
}
/* line 732, ../sass/style.scss */
.filter .drop-down .title a {
  border-style: dashed;
}
/* line 737, ../sass/style.scss */
.filter .drop-down .title:after {
  content: '';
  display: inline-block;
  margin-left: 3px;
  background: url('../images/little-triangle.png?1380020356') no-repeat;
  width: 8px;
  height: 5px;
}
/* line 744, ../sass/style.scss */
.filter .drop-down ul {
  display: none;
}
/* line 749, ../sass/style.scss */
.filter .drop-down.opened ul {
  display: block;
}
/* line 755, ../sass/style.scss */
.filter .filter-menu li {
  padding-left: 28px;
  vertical-align: bottom;
  color: #105b63;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 12px;
}
/* line 764, ../sass/style.scss */
.filter .hint {
  color: #949494;
  font-size: 14px;
  font-style: italic;
}
/* line 770, ../sass/style.scss */
.filter h4 {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  line-height: 24px;
  margin-bottom: 12px;
}
/* line 777, ../sass/style.scss */
.filter .checkbox {
  display: inline-block;
  position: absolute;
  left: 0;
  background: url('../images/check-box.png?1380020356');
  background-position: 0 0;
  width: 30px;
  height: 30px;
}
/* line 786, ../sass/style.scss */
.filter .checkbox input {
  display: none;
  margin: 0;
}
/* line 791, ../sass/style.scss */
.filter .checkbox.checked {
  background-position: -29px 0;
}

/* line 798, ../sass/style.scss */
.product-full .right-aside {
  margin-top: 120px;
  width: 320px;
}
/* line 804, ../sass/style.scss */
.product-full .description,
.product-full h4 {
  margin-top: 48px;
}

/* line 809, ../sass/style.scss */
.bulb {
  margin-top: 48px;
  margin-left: -40px;
}

/* line 817, ../sass/style.scss */
.fancybox-skin,
.fancybox-wrap,
.fancybox-outer,
.fancybox-inner {
  background: transparent !important;
}

/* line 821, ../sass/style.scss */
.fancybox-inner {
  padding-right: 35px !important;
}

/* line 825, ../sass/style.scss */
.fancybox-skin {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

/* line 832, ../sass/style.scss */
.button {
  display: inline-block;
  vertical-align: middle;
  line-height: 52px;
  background: url('../images/filter-form-button.png?1380621099');
  height: 52px;
  border: none;
  color: #797979;
  font-family: "PT Serif", "Times New Roman", "Times", serif;
  font-weight: bold;
  font-size: 14px;
  text-shadow: 1px 1px 1px white;
  cursor: pointer;
  position: relative;
  top: 7px;
  padding-left: 25px;
  padding-right: 0px;
  margin-left: -11px;
  outline: none;
}
/* line 852, ../sass/style.scss */
.button:before {
  content: '';
  display: block;
  position: absolute;
  background: url('../images/filter-form-button.png?1380621099');
  height: 52px;
  background-position: 25px;
  width: 25px;
  top: 0px;
  right: -25px;
}
/* line 864, ../sass/style.scss */
.button span.text {
  position: relative;
  top: -7px;
}
/* line 869, ../sass/style.scss */
.button:hover {
  background: url('../images/filter-form-button-hover.png?1380621055');
  color: #797979 !important;
  border: none !important;
  outline: none;
}
/* line 875, ../sass/style.scss */
.button:hover:before {
  background: url('../images/filter-form-button-hover.png?1380621055');
  background-position: 25px;
}
/* line 881, ../sass/style.scss */
.button:active {
  background: url('../images/filter-form-button-active.png?1380621072');
  color: #797979 !important;
  border: none !important;
  outline: none;
}
/* line 887, ../sass/style.scss */
.button:active:before {
  background: url('../images/filter-form-button-active.png?1380621072');
  background-position: 25px;
}

/* line 896, ../sass/style.scss */
#filters-form .button {
  margin-left: -5px;
}

/* line 902, ../sass/style.scss */
.price-input-box .button {
  top: 3px;
}

/* line 907, ../sass/style.scss */
.modals {
  padding-right: 49px;
}
/* line 910, ../sass/style.scss */
.modals .brands {
  margin-right: -49px;
  padding-right: 49px;
  max-width: 750px;
}
/* line 915, ../sass/style.scss */
.modals .brands .modal-column-header {
  width: 150px;
}
/* line 919, ../sass/style.scss */
.modals .brands .modal-column {
  display: inline-block;
  vertical-align: top;
  margin-left: 48px;
  margin-right: 12px;
}
/* line 925, ../sass/style.scss */
.modals .brands .modal-column:first-child {
  margin-left: 0px;
}
/* line 929, ../sass/style.scss */
.modals .brands .modal-column h4 a {
  color: black;
  border: none;
}
/* line 935, ../sass/style.scss */
.modals .brands .category-menu {
  border-left: 1px solid #949494;
  padding: 5px 0 5px 10px;
}
/* line 939, ../sass/style.scss */
.modals .brands .category-menu li {
  margin-bottom: 5px;
}
/* line 944, ../sass/style.scss */
.modals .brands .filters-bottom {
  width: 100%;
  margin-top: 32px;
  margin-right: 24px;
  padding-bottom: 12px;
  text-align: center;
}
/* line 951, ../sass/style.scss */
.modals .brands .filters-bottom div {
  display: inline-block;
  vertical-align: middle;
}
/* line 956, ../sass/style.scss */
.modals .brands .filters-bottom .cancel {
  margin-left: 25px;
}
/* line 959, ../sass/style.scss */
.modals .brands .filters-bottom .cancel a {
  border-style: dashed;
}
/* line 965, ../sass/style.scss */
.modals .brands .filter {
  display: inline-block;
  margin-right: 24px;
}
/* line 969, ../sass/style.scss */
.modals .brands .filter:last-child {
  margin-bottom: 0;
}
/* line 973, ../sass/style.scss */
.modals .brands .filter h4, .modals .brands .filter ul {
  display: inline-block;
  vertical-align: top;
}
/* line 978, ../sass/style.scss */
.modals .brands .filter h4 {
  position: relative;
  top: -3px;
}
/* line 983, ../sass/style.scss */
.modals .brands .filter ul {
  margin-left: 15px;
}
/* line 986, ../sass/style.scss */
.modals .brands .filter ul li {
  position: relative;
  width: 150px;
  margin-bottom: 12px;
}
/* line 994, ../sass/style.scss */
.modals .brands .modal-header {
  position: relative;
  background: url('../images/brands-modal-header-bg.png?1380020356') repeat-x;
  height: 37px;
  width: 100%;
  margin-left: 49px;
}
/* line 1001, ../sass/style.scss */
.modals .brands .modal-header:before {
  content: '';
  display: block;
  position: absolute;
  left: -49px;
  background: url('../images/brands-modal-header-bg-left.png?1380020356') no-repeat;
  width: 49px;
  height: 119px;
  z-index: 4;
}
/* line 1010, ../sass/style.scss */
.modals .brands .modal-header:after {
  content: '';
  display: block;
  position: absolute;
  right: -35px;
  background: url('../images/brands-modal-header-bg-right.png?1380020356') no-repeat;
  width: 37px;
  height: 37px;
}
/* line 1019, ../sass/style.scss */
.modals .brands .modal-page {
  position: relative;
  margin-left: 49px;
  margin-right: -49px;
  background: #f0eee6;
  min-height: 150px;
}
/* line 1026, ../sass/style.scss */
.modals .brands .modal-page:before {
  content: '';
  display: block;
  position: absolute;
  left: -35px;
  background: url('../images/brands-modal-bg-left.png?1380020356') no-repeat;
  width: 35px;
  height: 1px;
  height: 100%;
  background-repeat: repeat-y;
}
/* line 1036, ../sass/style.scss */
.modals .brands .modal-page:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: -35px;
  background: url('../images/brands-modal-bg-right.png?1380020356') no-repeat;
  width: 37px;
  height: 1px;
  height: 100%;
  background-repeat: repeat-y;
}
/* line 1048, ../sass/style.scss */
.modals .brands .modal-footer {
  position: relative;
  background: url('../images/brands-modal-footer-bg.png?1380020356');
  width: 100%;
  height: 35px;
  margin-left: 49px;
}
/* line 1055, ../sass/style.scss */
.modals .brands .modal-footer:before {
  content: '';
  display: block;
  position: absolute;
  left: -35px;
  background: url('../images/brands-modal-footer-bg-left.png?1380020356') no-repeat;
  width: 35px;
  height: 35px;
}
/* line 1063, ../sass/style.scss */
.modals .brands .modal-footer:after {
  content: '';
  display: block;
  position: absolute;
  right: -35px;
  bottom: 0;
  background: url('../images/brands-modal-footer-bg-right.png?1380020356') no-repeat;
  width: 35px;
  height: 142px;
}
/* line 1073, ../sass/style.scss */
.modals .brands .hint {
  width: 200px;
  text-align: center;
}

/* line 1080, ../sass/style.scss */
.modal-close {
  background: url('../images/modal-close.png?1380020356') no-repeat;
  width: 31px;
  height: 31px;
  position: absolute;
  top: -2px;
  right: -39px;
  cursor: pointer;
}

/* line 1088, ../sass/style.scss */
.cert-text {
  width: 640px;
}
/* line 1091, ../sass/style.scss */
.cert-text p {
  margin-bottom: 18px;
}
/* line 1095, ../sass/style.scss */
.cert-text .img-box {
  width: 240px;
  float: left;
  margin-right: 0px;
  display: inline;
}

/* line 1100, ../sass/style.scss */
.cert-box {
  display: inline-block;
  width: 120px;
  margin-right: 36px;
  margin-top: 24px;
  margin-bottom: 24px;
}

/* line 1109, ../sass/style.scss */
.special-links {
  margin-bottom: 24px;
}
/* line 1111, ../sass/style.scss */
.special-links .img-box {
  height: 170px;
}

/* line 1118, ../sass/style.scss */
.subscribe-form-box .input-box input, .subscribe-form-box .input-box input:focus {
  width: 180px;
  padding: 0 5px;
  height: 30px;
  border: 1px solid #e3e3e3;
  background: #fbfbfb;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  outline: none;
  font-size: 16px;
}

/* line 1132, ../sass/style.scss */
.card_form-box {
  margin-top: 24px;
}
/* line 1135, ../sass/style.scss */
.card_form-box div.label-box {
  width: 240px;
  padding-top: 10px;
}
/* line 1139, ../sass/style.scss */
.card_form-box div.label-box .label {
  font-size: 18px;
  font-weight: bold;
}
/* line 1144, ../sass/style.scss */
.card_form-box div.label-box a {
  color: #105b63;
  font-style: italic;
  font-size: 14px;
  border-bottom: 1px #146e78 dotted;
}
/* line 1152, ../sass/style.scss */
.card_form-box div.label-box, .card_form-box div.input-box {
  display: inline-block;
  vertical-align: top;
}
/* line 1158, ../sass/style.scss */
.card_form-box .input-box input, .card_form-box .input-box input:focus {
  width: 310px;
  padding: 0 5px;
  height: 30px;
  border: 1px solid #e3e3e3;
  background: #fbfbfb;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  outline: none;
  font-size: 16px;
}
/* line 1169, ../sass/style.scss */
.card_form-box .input-box input {
  display: inline-block;
}
/* line 1173, ../sass/style.scss */
.card_form-box .input-box .answer {
  display: inline-block;
  padding: 20px 26px 20px 26px;
  background: #f9eccf;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  margin-left: 7px;
  margin-top: 25px;
  color: #87610d;
}
/* line 1182, ../sass/style.scss */
.card_form-box .input-box .answer .value {
  font-size: 18px;
}

/* line 1189, ../sass/style.scss */
.img-link {
  border-bottom: none !important;
}

/* line 1193, ../sass/style.scss */
.pagination {
  margin-top: 72px;
}
/* line 1196, ../sass/style.scss */
.pagination li {
  vertical-align: middle;
}
/* line 1200, ../sass/style.scss */
.pagination li + li {
  margin-left: 10px;
}
/* line 1204, ../sass/style.scss */
.pagination li.current {
  padding: 7px 9px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #db9e36;
}
/* line 1205, ../sass/style.scss */
.pagination li.current a {
  color: #ffffff;
  border-bottom: none;
}

/* line 1216, ../sass/style.scss */
.cart-box {
  position: relative;
  width: 199px;
  background: url('../images/cart-bg.png?1380020356');
  text-align: center;
  margin-top: 10px;
  margin-bottom: 72px;
}
/* line 1225, ../sass/style.scss */
.cart-box:before, .cart-box:after {
  content: '';
  display: block;
  position: absolute;
  left: 0px;
  width: 199px;
}
/* line 1233, ../sass/style.scss */
.cart-box:before {
  background: url('../images/cart-bg-top.png?1380020356');
  height: 18px;
  top: -18px;
}
/* line 1239, ../sass/style.scss */
.cart-box:after {
  background: url('../images/cart-bg-bottom.png?1380020356');
  height: 18px;
  bottom: -18px;
}
/* line 1245, ../sass/style.scss */
.index-page-aside .cart-box {
  margin-left: -20px;
}
/* line 1249, ../sass/style.scss */
.cart-box .button {
  margin-left: -20px;
}

/* line 1254, ../sass/style.scss */
.buy-btn {
  margin-left: 20px;
}

/* line 1261, ../sass/style.scss */
.order-form .text-input,
.order-form .text-input:active,
.faq-form .text-input,
.faq-form .text-input:active {
  display: inline-block;
  width: 218px;
  outline: none;
  height: 32px;
  line-height: 24px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  padding: 0px 10px;
  border: 1px solid #e3e3e3;
  background: #fbfbfb;
}
/* line 1272, ../sass/style.scss */
.order-form .text-input.phone-input,
.order-form .text-input:active.phone-input,
.faq-form .text-input.phone-input,
.faq-form .text-input:active.phone-input {
  width: 188px;
}
/* line 1278, ../sass/style.scss */
.order-form .textarea,
.order-form .textarea:active,
.faq-form .textarea,
.faq-form .textarea:active {
  display: inline-block;
  width: 218px;
  outline: none;
  line-height: 24px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  padding: 0px 10px;
  border: 1px solid #e3e3e3;
  background: #fbfbfb;
  resize: none;
}
/* line 1289, ../sass/style.scss */
.order-form .textarea.phone-input,
.order-form .textarea:active.phone-input,
.faq-form .textarea.phone-input,
.faq-form .textarea:active.phone-input {
  width: 188px;
}
/* line 1294, ../sass/style.scss */
.order-form .phone-pre,
.faq-form .phone-pre {
  display: inline-block;
  width: 26px;
}
/* line 1299, ../sass/style.scss */
.order-form .label,
.faq-form .label {
  margin-left: 7px;
}
/* line 1303, ../sass/style.scss */
.order-form .phone-label,
.faq-form .phone-label {
  margin-left: 35px;
}

/* line 1308, ../sass/style.scss */
.faq-form {
  padding: 10px 20px;
}
/* line 1311, ../sass/style.scss */
.faq-form .fieldset {
  margin-bottom: 24px;
}

/* line 1316, ../sass/style.scss */
.order-form {
  width: 825px;
  background: url('../images/order-bg.png?1380137988');
  position: relative;
  margin-top: 66px;
  margin-left: 40px;
}
/* line 1324, ../sass/style.scss */
.order-form:before, .order-form:after {
  content: '';
  display: block;
  position: absolute;
  left: 0px;
  width: 825px;
}
/* line 1332, ../sass/style.scss */
.order-form:before {
  background: url('../images/order-bg-top.png?1380137653');
  height: 18px;
  top: -18px;
}
/* line 1338, ../sass/style.scss */
.order-form:after {
  background: url('../images/order-bg-bottom.png?1380137935');
  height: 18px;
  bottom: -18px;
}
/* line 1344, ../sass/style.scss */
.order-form .fields {
  width: 560px;
  float: left;
  margin-right: 0px;
  display: inline;
  margin-right: 40px;
  margin-left: 30px;
}
/* line 1350, ../sass/style.scss */
.order-form .controls {
  width: 160px;
  float: left;
  margin-right: 0px;
  display: inline;
}
/* line 1354, ../sass/style.scss */
.order-form .fieldset {
  width: 240px;
  float: left;
  margin-right: 0px;
  display: inline;
  margin-right: 40px;
  margin-bottom: 25px;
}

/* line 1361, ../sass/style.scss */
.big-link {
  font-size: 18px;
  line-height: 36px;
}

/* line 1367, ../sass/style.scss */
.price-input-wrap,
.cart-qnt-box {
  position: relative;
  display: inline-block;
}
/* line 1371, ../sass/style.scss */
.price-input-wrap .price-input,
.cart-qnt-box .price-input {
  box-sizing: border-box;
  height: 34px;
  line-height: 34px;
  border: 1px solid #e3e3e3;
  background: #fbfbfb;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  font-size: 16px;
  text-align: center;
  outline: none;
  width: 61px;
}
/* line 1385, ../sass/style.scss */
.price-input-wrap .minus,
.price-input-wrap .plus,
.cart-qnt-box .minus,
.cart-qnt-box .plus {
  content: '';
  display: block;
  position: absolute;
  top: 6px;
  width: 27px;
  height: 27px;
  cursor: pointer;
}
/* line 1395, ../sass/style.scss */
.price-input-wrap .minus,
.cart-qnt-box .minus {
  left: -12px;
  background: url('../images/minus.png?1380020356');
}
/* line 1400, ../sass/style.scss */
.price-input-wrap .plus,
.cart-qnt-box .plus {
  right: -12px;
  background: url('../images/plus.png?1380020356');
}

/* line 1406, ../sass/style.scss */
.delete {
  display: inline-block;
  vertical-align: middle;
  background: url('../images/delete.png?1380073193');
  width: 27px;
  height: 27px;
  cursor: pointer;
}

/* line 1415, ../sass/style.scss */
b {
  font-weight: bold;
}

/* line 1423, ../sass/style.scss */
.is-with-error .text-input,
.is-with-error .text-input:active,
.is-with-error .textarea,
.is-with-error .textarea:active {
  border-color: red;
}
/* line 1427, ../sass/style.scss */
.is-with-error .errorlist {
  color: red;
  font-size: 12px;
  font-family: "PT Serif", "Times New Roman", "Times", serif;
  margin-left: 5px;
}
/* line 1433, ../sass/style.scss */
.is-with-error .errorlist li {
  list-style: none;
}

/* line 1439, ../sass/style.scss */
.phone-errors .errorlist {
  margin-left: 35px;
}

/* line 1443, ../sass/style.scss */
.top-menu-shift-li {
  margin-left: 200px;
}

/* line 1447, ../sass/style.scss */
.index-search {
  margin-top: 48px;
}
/* line 1450, ../sass/style.scss */
.index-search .input-search {
  position: relative;
}
/* line 1455, ../sass/style.scss */
.index-search .text-input,
.index-search .text-input:active {
  display: inline-block;
  width: 500px;
  outline: none;
  height: 32px;
  line-height: 24px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  padding: 0px 80px 0px 10px;
  border: 1px solid #e3e3e3;
  background: #fbfbfb;
}
/* line 68, ../sass/_base.scss */
.index-search .text-input.placeholder,
.index-search .text-input:active.placeholder {
  font-style: italic;
  font-family: "PT Serif", "Times New Roman", "Times", serif;
}
/* line 69, ../sass/_base.scss */
.index-search .text-input:-moz-placeholder,
.index-search .text-input:active:-moz-placeholder {
  font-style: italic;
  font-family: "PT Serif", "Times New Roman", "Times", serif;
}
/* line 70, ../sass/_base.scss */
.index-search .text-input::-moz-placeholder,
.index-search .text-input:active::-moz-placeholder {
  font-style: italic;
  font-family: "PT Serif", "Times New Roman", "Times", serif;
}
/* line 71, ../sass/_base.scss */
.index-search .text-input:-ms-input-placeholder,
.index-search .text-input:active:-ms-input-placeholder {
  font-style: italic;
  font-family: "PT Serif", "Times New Roman", "Times", serif;
}
/* line 72, ../sass/_base.scss */
.index-search .text-input::-webkit-input-placeholder,
.index-search .text-input:active::-webkit-input-placeholder {
  font-style: italic;
  font-family: "PT Serif", "Times New Roman", "Times", serif;
}
/* line 1472, ../sass/style.scss */
.index-search .search-button {
  position: absolute;
  top: -4px;
  left: 516px;
}

/* line 1480, ../sass/style.scss */
.small-search {
  position: absolute;
  bottom: 60px;
  left: 0px;
}
/* line 1486, ../sass/style.scss */
.small-search .text-input,
.small-search .text-input:active {
  width: 230px;
  padding: 0px 80px 0px 10px;
}
/* line 1491, ../sass/style.scss */
.small-search .search-button {
  left: 246px;
}

/* line 1497, ../sass/style.scss */
.search-heading span {
  display: inline-block;
  vertical-align: middle;
}
/* line 1502, ../sass/style.scss */
.search-heading .hint {
  margin-left: 20px;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}

/* line 1510, ../sass/style.scss */
.page-top {
  overflow: hidden;
  *zoom: 1;
  position: relative;
  height: 168px;
}

/* line 1516, ../sass/style.scss */
.q-item {
  margin-top: 48px;
}
/* line 1519, ../sass/style.scss */
.q-item .q {
  font-weight: bold;
}
/* line 1523, ../sass/style.scss */
.q-item .answer {
  margin-top: 24px;
}
/* line 1526, ../sass/style.scss */
.q-item .answer:before, .q-item .answer:after {
  content: '';
  display: inline-block;
  height: 16px;
  position: relative;
}
/* line 1533, ../sass/style.scss */
.q-item .answer:before {
  background: url('../images/quote-before.png?1381130727');
  width: 21px;
  margin-left: -40px;
  margin-right: 14px;
  top: -5px;
}
/* line 1541, ../sass/style.scss */
.q-item .answer:after {
  background: url('../images/quote-before.png?1381130727');
  width: 21px;
  margin-left: 14px;
  top: 24px;
}

/* line 1550, ../sass/style.scss */
h4 .hint {
  font-size: 14px;
  color: #949494;
  font-weight: normal;
  font-style: italic;
}

/* line 1557, ../sass/style.scss */
.search-category-box {
  margin-top: 72px;
  margin-bottom: 48px;
}

/* line 1562, ../sass/style.scss */
.all-search-link {
  margin-top: 48px;
}

/* line 1566, ../sass/style.scss */
.cart-product {
  position: relative;
}

/* line 1571, ../sass/style.scss */
.cart-product.deleted:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0.7;
}

/* line 1582, ../sass/style.scss */
.restore-btn-box {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 126px;
  z-index: 9;
  text-align: center;
}
/* line 1591, ../sass/style.scss */
.restore-btn-box .restore-cart-product {
  vertical-align: middle;
}

/* line 1596, ../sass/style.scss */
.center-text {
  text-align: center;
}

/* line 1600, ../sass/style.scss */
.product-image-box {
  width: 360px;
  float: left;
}
