{% extends "base.html" %}

{% load thumbnail siteblocks_extras products_extras %}

{% if page.title %}
    {% block title %}
        {{ page.title }} &mdash;
    {% endblock %}
{% endif %}

{% block content %}
<div class="main">
    <br>
    <h3>{{ page.title }}</h3>
    {{ page.content|safe }}
    {% if page.url == '/contacts/' %}
    <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=fQllmN_3ujySBxoiV6McmECx2a1bvJ4E&width=600&height=450"></script>
    {% endif %}
</div>
<div class="right-aside">
    {% get_card_and_certificate certificate=False %}
    <img class="bulb" src="/media/images/bulb.jpg" alt="">
    <div class="subscribe-form-box">
        <h4>SMS-рассылка</h4>
        <p>Если вы хотите получать информацию о новых поступлениях, то оставьте ваш номер телефона.</p>
        <br>
        <form action="{% url subscribe_url %}" method="POST">
            {% csrf_token %}
            <input type="text" name="return_to" class="hidden" value="{{ request.path }}">
            <div class="input-box">
                <input type="text" name="phone_number">
                <button type="submit" class="button"><span class="text">Отправить</span></button>
            </div>
        </form>
    </div>
</div>
{% endblock %}