{% if with_certificate %}
<div class="product">
	<div class="img-box">
        <a href="{% url certificate_url %}" class="img-link">
    	   <img src="/media/images/certificate.jpg" alt="">
        </a>
    </div>
    <div class="description">
        <div class="title"><a href="{% url certificate_url %}">Подарочный сертификат</a></div>
        <div class="volume">{{cert_str_price|default_if_none:''}}</div>
    </div>
</div>
{% endif %}

{% if with_cart %}
<div class="product">
	<div class="img-box">
        <a href="{% url card_url %}" class="img-link">
    	<img src="/media/images/card.png" alt="">
        </a>
    </div>
    <div class="description">
        <div class="title"><a href="{% url card_url %}">Дисконтная программа</a></div>
    </div>
</div>
{% endif %}