{% load siteblocks_extras products_extras thumbnail orders_extras %}

<div class="main">
	{% if current_category == None %}
	<br><br><br>
	{% else %}
    <div class="breadcrumbs">
        <ul class="menu">
            {% for cat in current_category.get_ancestors %}
            <li><a href="{% url catalog_url cat.full_path%}">{{ cat.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <h3 class="top-heading">{{ current_category.name }}</h3>
    {% endif %}
    {% for product in object_list %}
        {% include 'products/_product.html' with product=product %}
    {% empty %}
    Товаров не найдено.
    {% endfor %}

    {% if is_paginated and page_obj.paginator.num_pages > 1 %}
        {% include 'shared/_pagination.html' %}
    {% endif %}
</div>
<div class="right-aside">
    {% block_cart %}
    {% if not current_category == None %}
        {% if current_category.is_root %}
            <div class="menu">
                <ul class="vertical">
                    {% for category in current_category.get_siblings_with_self %}
                    <li {% if category == current_category %}class="current"{% endif %}>
                        <div class="wrap"><a href="{% url catalog_url category.full_path %}">{{ category.name }}</a></div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <div class="menu">
                <ul class="vertical">
                    {% for category in current_category.get_siblings_with_self %}
                    {% if not category.is_empty %}
                    <li {% if category == current_category %}class="current"{% endif %}>
                        <div class="wrap"><a href="{% url catalog_url category.full_path %}">{{ category.name }}</a></div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endif %}
    <br>
    
    <form action="" id="filters-form" method="GET">
        {% if current_category.get_brands %}
        <div class="filter">
            <h4>Брэнды</h4>
            <div class="drop-down">
                <div class="title"a><a href="/catalog{{current_category.get_absolute_path}}get_all_brands_modal/" class="fancybox fancybox.ajax">все</a></div>
            </div>
            <ul class="filter-menu">
                {% for brand in current_category.get_brands_with_count %}
                <li class="checkbox-box">
                    <span class="checkbox {% if brand.brand.id|slugify in params_brands %}checked{% endif %}">
                        <input type="checkbox" name="brands" value="{{brand.brand.id}}" {% if brand.brand.id|slugify in params_brands %}checked="checked"{% endif %}>
                    </span>
                    {{ brand.brand.name}}  <span class="hint">{{ brand.count }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% for property in current_category.get_properties_with_count %}
            {% if not property.prop_name == '' %}
            <div class="filter">
                <h4>{{ property.prop_name|upper }}</h4>
                <div class="drop-down">
                    <div class="title"><a href="/catalog{{current_category.get_absolute_path}}get_all_prop_values_modal/{{property.prop_slug}}/" data-prop-slug="prop_{{property.prop_slug}}" class="fancybox fancybox.ajax">все</a></div>
                </div>
                <ul class="filter-menu">
                    {% for prop_value in property.prop_values|slice:":5" %}
                    {% if prop_value and prop_value.value %}
                    <li class="checkbox-box">
                        <span class="checkbox {% if prop_value.value in params_props|keyvalue:property.prop_slug %}checked{% endif %}">
                            <input type="checkbox" name="prop_{{ property.prop_slug }}" value="{{prop_value.value}}" 
                             {% if prop_value.value|slugify in params_props|keyvalue:property.prop_slug %}checked="checked"{% endif %}>
                        </span>
                        {{ prop_value.value }} {{ property.prop_label }}  <span class="hint">{{ prop_value.count }}</span>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        {% endfor %}
        <button type="submit" class="button"><span class="text">Применить</span></button>
    </form>
</div>