{% load pymorphy_tags thumbnail products_extras orders_extras %}

<div class="main">
    {% if current_category == None %}
    <br><br>
    {% else %}
    <div class="breadcrumbs">
        <ul class="menu">
            {% for cat in current_category.get_ancestors %}
            <li><a href="{% url catalog_url cat.full_path%}">{{ cat.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <h3 class="top-heading">{{ current_category.name }}</h3>
    {% endif %}
    {% for category in current_category.get_children %}
        {% if not category.is_empty %}
        <div class="product">
            {% if category.image %}
            <a href="{% url catalog_url category.full_path %}" class="img-link">
            {% thumbnail category.image "x120" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
            {% endthumbnail %}
            </a>
            {% else %}
            <a href="{% url catalog_url category.full_path %}" class="img-link">
                <img src="/media/images/noimage.png" alt="">
            </a>
            {% endif %}        
            <div class="description">
                <div class="title"><a href="{% url catalog_url category.full_path %}">{{ category.name }}</a></div>
                <div class="volume">{{ category.product_set.count }} {{ 'товар'|plural:category.product_set.count }}</div>
            </div>
        </div>
        {% endif %}
    {% empty %}
    Товаров не найдено.
    {% endfor %}
</div>
<div class="right-aside">
    {% block_cart %}
    {% get_card_and_certificate %}
    <img class="bulb" src="/media/images/bulb.jpg" alt="">
    <div class="subscribe-form-box">
        <h4>SMS-рассылка</h4>
        <p>Если вы хотите получать информацию о новых поступлениях, то оставьте ваш номер телефона.</p>
        <br>
        <form action="{% url subscribe_url %}" method="POST">
            {% csrf_token %}
            <input type="text" name="return_to" class="hidden" value="{{ request.path }}">
            <div class="input-box">
                <input type="text" name="phone_number">
                <button type="submit" class="button"><span class="text">Отправить</span></button>
            </div>
        </form>
    </div>
</div>
{% if is_paginated and page_obj.paginator.num_pages > 1 %}
    {% include 'shared/_pagination.html' %}
{% endif %}