{% load thumbnail %}

{% if product %}
<div class="bottle">
	<a href="{% url products_detail product.id %}">
	{% thumbnail product.image "x144" as im %}
    	<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
    {% empty %}
        <img src="/media/images/footer-product-noimage.png">
    {% endthumbnail %}
    </a>
    <div class="bubble">
        <div class="bubble-text">
            <a href="{% url products_detail product.id %}">{{product.title}}</a><br>
            {{product.description}}
        </div>
    </div>
</div>
{% endif %}