{% load thumbnail %}

<div class="product">
    <a href="/products/{{ product.id }}" class="img-link">
        {% if product.image %}
        {% thumbnail product.image "180x120" format="PNG" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
        {% empty %}
            <img src="/media/images/noimage.png" alt="">
        {% endthumbnail %}
        {% else %}
            <img src="/media/images/noimage.png" alt="">
        {% endif %}
    </a>   
    <div class="description">
        <div class="title"><a href="/products/{{ product.id }}">{{ product.title }}</a></div>
        {% if product.get_property %}
        <div class="volume">{{ product.get_property|safe }}</div>
        {% endif %}
        <div class="price">{{ product.get_price|safe }}</div>
    </div>
</div>