<div class="modals">
<div class="brands" id="brands-modal">
			<div class="modal-header"></div>
			<div class="modal-page">
				<form action="" method="GET">
				<div class="modal-column">
					{% for key, value in brands.items %}
					<div class="filter">
						<h4>{{key|upper}}</h4>
						<ul class="filter-menu">
							{% for brand in value %}
							<li class="checkbox-box">
			                    <span class="checkbox {% if brand.id|slugify in params_brands %}checked{% endif %}">
			                        <input type="checkbox" name="brands" value="{{brand.id}}" {% if brand.id|slugify in params_brands %}checked="checked"{% endif %}>
			                    </span>
			                    <span class="text">{{brand.name}}</span>
			                </li>
							{% endfor %}
						</ul>
					</div>
					{% endfor %}
					<div class="hidden">
					{% for key, value in params_props.items %}
						{% for prop_value in value %}
							<input type="checkbox" checked="checked" name="prop_{{key}}" value="{{prop_value}}">
						{% endfor %}
					{% endfor %}
					</div>
				</div>
				<div class="filters-bottom">
					<button type="submit" class="button"><span class="text">Применить фильтр</span></button>
					<div class="cancel">или <a href="">отменить и закрыть окно</a></div>
				</div>
				</form>
			</div>
			<div class="modal-footer"></div>
		</div>
</div>