{% extends 'base.html' %}

{% load thumbnail siteblocks_extras products_extras orders_extras %}

{% block content %}
<div class="main">
	<br>
	<h3 class="top-heading">Накопительная карта</h3>
	<div class="cert-text">
		<div class="img-box">
			<img src="/media/images/card.png" alt="">
		</div>
		<p>Накопительная карта выдается при покупке от 299 рублей. При каждой покупке на карту начисляется скидка в размере 5% от покупки. Сумма не обнуляется и срока не имеет.</p>
		<p>Воспользоваться накопленной суммой можно, когда сумма накоплений достигнет 100 рублей.</p>
	</div>
	<br>
	<div>Сумму накоплений всегда можно узнать на сайте:</div>
	<div class="card_form-box">
		<form action="" method="GET">
			<div class="label-box">
				<div class="label">Номер карты</div>
				<a href="#card-hint" class="fancybox-hint">Как найти номер карты?</a>
			</div>
			<div class="input-box">
				<input type="text" name="q">
				<button type="submit" class="button"><span class="text">Проверить</span></button>
				{% if your_card %}
				<div>
					<div class="answer">
						У вас на счету:<br>
						<span class="value">{{your_card.sum|stringformat:'d'}} руб.</span>
					</div>
				</div>
				{% else %}
					{% if show_error %}
					<div>
						<div class="answer">
							Не найдено.
						</div>
					</div>
					{% endif %}
				{% endif %}
			</div>
		</form>
	</div>
	<br>
	<div class="cert-text">
		{{card_bottom_text|default_if_none:''}}
	</div>
</div>
<div class="right-aside">
	{% block_cart %}
    {% get_card_and_certificate cart=False %}
    <img class="bulb" src="/media/images/bulb.jpg" alt="">
    <div class="subscribe-form-box">
    	<h4>SMS-рассылка</h4>
    	<p>Если вы хотите получать информацию о новых поступлениях, то оставьте ваш номер телефона.</p>
    	<br>
    	<form action="{% url subscribe_url %}" method="POST">
    		{% csrf_token %}
    		<input type="text" name="return_to" class="hidden" value="{{ request.path }}">
	    	<div class="input-box">
				<input type="text" name="phone_number">
				<button type="submit" class="button"><span class="text">Отправить</span></button>
			</div>
	    </form>
    </div>
</div>

<div class="modals hidden" id="card-hint">
	<div class="brands" id="brands-modal">
		<div class="modal-header"></div>
		<div class="modal-page">
			<div>
				<img src="/media/images/card_how.png" alt="" width="500" height="300" >
			</div>
		</div>
		<div class="modal-footer"></div>
	</div>
</div>
{% endblock %}