<div class="modals">
<div class="brands" id="brands-modal">
			<div class="modal-header"></div>
			<div class="modal-page">
				{% for category in category.get_children %}
				{% if category.is_published_category %}
				<div class="modal-column">						
					<h4><a href="{% url catalog_url category.full_path %}">{{category.name}}</a></h4>
					{% if category.is_published_category %}
						{% if category.get_children.count > 0 %}
						<ul class="filter-menu category-menu">
						{% for inner_category in category.get_children %}
							<li><a href="{% url catalog_url inner_category.full_path %}">{{inner_category.name}}</a></li>
						{% endfor %}
						</ul>	
						{% endif %}		
					{% endif %}			
				</div>
				{% endif %}
				{% endfor %}
			</div>
			<div class="modal-footer"></div>
		</div>
</div>