{% extends 'base.html' %}

{% load thumbnail siteblocks_extras products_extras orders_extras%}

{% block content %}
<div class="main">
	<br>
	<h3 class="top-heading">Подарочный сертификат</h3>
	<div class="cert-text">
		<div class="img-box">
			<img src="/media/images/certificate.jpg" alt="">
		</div>
		<p>Подарочные сертификаты  «Шарм» — идеальный подарок на любой вкус.</p>
		<p>С ними Ваши близкие, друзья или коллеги смогут выбрать себе подарок из более 30 000 наименований парфюмерии и косметики, представленных в нашем магазине.</p>
	</div>
	<br>
	<div>Сертификаты имеют разные номиналы:</div>

	<div>
	{% for certificate in certificate_set %}
	<div class="cert-box">
		{% thumbnail certificate.image "120" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
        {% empty %}
        	<img src="/media/images/certificate-no-image.png" alt="">
        {% endthumbnail %}
		<div class="volume">{{certificate.value}} рублей.</div>
	</div>
	{% empty %}
	<div>Сертификатов не найдено.</div>
	{% endfor %}
	</div>

	<p>{{cert_text}}</p>
</div>
<div class="right-aside">
    {% block_cart %}
    {% get_card_and_certificate certificate=False %}
    <img class="bulb" src="/media/images/bulb.jpg" alt="">
    <div class="subscribe-form-box">
    	<h4>SMS-рассылка</h4>
    	<p>Если вы хотите получать информацию о новых поступлениях, то оставьте ваш номер телефона.</p>
    	<br>
    	<form action="{% url subscribe_url %}" method="POST">
    		{% csrf_token %}
    		<input type="text" name="return_to" class="hidden" value="{{ request.path }}">
	    	<div class="input-box">
				<input type="text" name="phone_number">
				<button type="submit" class="button"><span class="text">Отправить</span></button>
			</div>
	    </form>
    </div>
</div>
{% endblock %}