{% extends 'base.html' %}

{% load thumbnail siteblocks_extras products_extras orders_extras pymorphy_tags %}

{% block content %}
        <div class="main">
            <br>
            <h3 class="top-heading">Результаты поиска</h3>
            <h4>в категории "{{category.get_full_title}}"</h4>
            <p>По запросу "{{ search_q }}" найдено: {{ product_count }} {{ 'товар'|plural:product_count }}</p>
                <div class="search-category-box">

                {% for product in product_list %}
                    {% include 'products/_product.html' with product=product %}
                {% endfor %}

                </div>
        </div>
{% endblock %}