{% extends 'base.html' %}

{% load thumbnail siteblocks_extras products_extras orders_extras pymorphy_tags %}

{% block content %}
        <div class="main">
            <br>
            <h3 class="top-heading">Результаты поиска</h3>
            <p>По запросу "{{ search_q }}" найдено: {{ product_count }} {{ 'товар'|plural:product_count }}</p>
            {% regroup product_list by category as products %}

            {% for category in products %}
                <div class="search-category-box">
                {% with category.list|length as products_count %}
                <h4>{{ category.grouper.get_full_title }}  <span class="hint">{{ products_count }} {{ 'товар'|plural:products_count }}</span></h4>
                

                {% for product in category.list|slice:'3' %}
                    {% include 'products/_product.html' with product=product %}
                {% endfor %}

                {% if products_count > 3 %}
                <div class="all-search-link">
                <a href="{% url category_search_url category.grouper.id %}?q={{ search_q }}">Все найденные товары в категории «{{ category.grouper.get_full_title }}»</a>
                </div>
                {% endif %}
                {% endwith %}
                </div>
            {% endfor %}
        </div>
{% endblock %}