{% extends 'base.html' %}

{% load thumbnail siteblocks_extras products_extras orders_extras %}

{% block content %}
		<div class="main">
			{% if current_category %}
			<div class="breadcrumbs">
		        <ul class="menu">
		            {% for cat in current_category.get_ancestors %}
		            <li><a href="{% url catalog_url cat.full_path%}">{{ cat.name }}</a></li>
		            {% endfor %}
		        </ul>
		    </div>
		    {% endif %}
			<h3 class="top-heading">{{ product.title }}</h3>
			<div class="product-full">
				<div>
					<div class="center-text product-image-box">
						{% thumbnail product.image "360x456" format="PNG" as im %}
						    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
						{% empty %}
							<img src="/media/images/product-big-noimage.png">
		        		{% endthumbnail %}
	        		</div>
					<div class="right-aside">
						{% for variant in product.productvariant_set.all %}
						<div>
							{% if variant.on_sale %}
							<div class="price-box sale">
								<div class="volume">{{variant.prop_value}} {{product.prop_label}}</div>
								<div class="price crossed">
									<div class="old-price">
										{{variant.get_str_old_price}} руб.
									</div>
									<div class="sale-price">
										<span class="big">{{variant.get_str_price}}</span> руб.
									</div>
								</div>						
							</div>
							{% else %}
							<div class="price-box">
								{% if variant.prop_value %}
								<div class="volume">{{variant.prop_value}} {{product.prop_label}}</div>
								{% elif product.productvariant_set.published.count > 1 %}
								<div class="volume">Вариант {{forloop.counter}}</div>
								{% endif %}
								<div class="price">
									<div class="price-inner">
										<span class="big">{{variant.get_str_price}}</span> руб.
									</div>
								</div>
							</div>
							{% endif %}
							<form class="buy-form price-input-box" method="POST" action="/add_product_to_cart/">
								<input type="text" class="hidden" name="product_id" value="{{variant.id}}">
								<div class="price-input-wrap">
									<div class="minus"></div>
									<input type="text" class="price-input" value="1" name="qty">
									<div class="plus"></div>
								</div>
								<button class="button buy-btn"><span class="text">В заказ</span></button>
							</form>
						</div>
						{% endfor %}
					</div>
					<div class="description">
						{{product.full_description|safe}}
					</div>
					<div class="clear"></div>
				</div>
				{% if product.get_related %}
					<h4>Вам также может понравиться</h4>
					{% for related_product in product.get_related %}
						{% include 'products/_product.html' with product=related_product %}
					{% endfor %}
				{% endif %}
			</div>
		</div>
		<div class="right-aside">
			{% block_cart %}
			{% get_card_and_certificate %}
		</div>

{% endblock %}