{% load siteblocks_extras %}

<div class="modals">
<div class="brands" id="brands-modal">
			<div class="modal-header"></div>
			<div class="modal-page">
				<div class="modal-column">
					<div class="filter">
						<h4 class="modal-column-header">{{current_props.prop_name|upper}}</h4>
						<ul class="filter-menu">
							{% for prop_value in current_props.prop_values %}
			                {% if prop_value %}
		                    <li class="checkbox-box">
		                        <span class="checkbox {% if prop_value.value|slugify in params_props|keyvalue:current_props.prop_slug %}checked{% endif %}">
		                            <input type="checkbox" name="prop_{{ current_props.prop_slug }}" value="{{prop_value.value}}" 
		                             {% if prop_value.value|slugify in params_props|keyvalue:current_props.prop_slug %}checked="checked"{% endif %}>
		                        </span>
		                        <span class="text">{{ prop_value.value }} {{ current_props.prop_label }}</span>
		                    </li>
		                    {% endif %}
							{% endfor %}
						</ul>
					</div>
				</div>
				<div class="filters-bottom">
					<button type="submit" class="button"><span class="text">Применить фильтр</span></button>
					<div class="cancel">или <a href="">отменить и закрыть окно</a></div>
				</div>
			</div>
			<div class="modal-footer"></div>
		</div>
</div>