{% extends 'base.html' %}

{% load thumbnail siteblocks_extras products_extras orders_extras %}

{% block content %}
<div class="main">
	<h3 class="top-heading">Наши рекомендации</h3>
	{% for offer in special_offers %}
		<div class="product">
	    <a href="/special_offer/{{ offer.slug }}" class="img-link">
	        {% if offer.image %}
	        {% thumbnail offer.image "x120" as im %}
	            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
	        {% endthumbnail %}
	        {% else %}
	            <img src="/media/images/noimage.png" alt="">
	        {% endif %}
	    </a>   
	    <div class="description">
	        <div class="title"><a href="/special_offer/{{ offer.slug }}">{{ offer.title }}</a></div>
	        <div class="volume">{{ offer.created_at|date:"M Y" }}</div>
	    </div>
	</div>
	{% empty %}
	Специальных предложений не найдено
	{% endfor %}
</div>
<div class="right-aside">
    {% block_cart %}
    {% get_card_and_certificate %}
    <img class="bulb" src="/media/images/bulb.jpg" alt="">
    <div class="subscribe-form-box">
    	<h4>SMS-рассылка</h4>
    	<p>Если вы хотите получать информацию о новых поступлениях, то оставьте ваш номер телефона.</p>
    	<br>
    	<form action="{% url subscribe_url %}" method="POST">
    		{% csrf_token %}
    		<input type="text" name="return_to" class="hidden" value="{{ request.path }}">
	    	<div class="input-box">
				<input type="text" name="phone_number">
				<button type="submit" class="button"><span class="text">Отправить</span></button>
			</div>
	    </form>
    </div>
</div>
{% endblock %}
