{% extends 'base.html' %}

{% load thumbnail siteblocks_extras products_extras orders_extras %}

{% block content %}
<div class="main">
    <div class="breadcrumbs">
        <ul class="menu">
            <li><a href="{% url special_offers_list_url %}">Специальные предложения</a></li>
        </ul>
    </div>
	<h3 class="top-heading">{{ special_offer.title|upper }}</h3>
	{{special_offer.text|safe}}
</div>
<div class="right-aside">
    {% block_cart %}
    {% get_card_and_certificate %}
    <img class="bulb" src="/media/images/bulb.jpg" alt="">
    <div class="subscribe-form-box">
    	<h4>SMS-рассылка</h4>
    	<p>Если вы хотите получать информацию о новых поступлениях, то оставьте ваш номер телефона.</p>
    	<br>
    	<form action="{% url subscribe_url %}" method="POST">
    		{% csrf_token %}
    		<input type="text" name="return_to" class="hidden" value="{{ request.path }}">
	    	<div class="input-box">
				<input type="text" name="phone_number">
				<button type="submit" class="button"><span class="text">Отправить</span></button>
			</div>
	    </form>
    </div>
</div>
{% endblock %}