/* line 17, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* fonts */
@font-face {
  font-family: 'PT Serif';
  src: url("../fonts/PTF55F_W.eot");
  src: local("PT Serif"), url("../fonts/PTF55F_W.woff") format("woff"), url("../fonts/PTF55F_W.ttf") format("truetype"), url("../fonts/PTF55F_W.svg#PTSerif-Regular") format("svg");
}

@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  src: url("../fonts/PTF56F_W.eot");
  src: local("PT Serif Italic"), url("../fonts/PTF56F_W.woff") format("woff"), url("../fonts/PTF56F_W.ttf") format("truetype"), url("../fonts/PTF56F_W.svg#PTSerif-Italic") format("svg");
}

@font-face {
  font-family: 'PT Serif';
  src: url("../fonts/PTF75F_W.eot");
  font-style: normal;
  font-weight: bold;
  src: local("PT Serif Bold"), url("../fonts/PTF75F_W.woff") format("woff"), url("../fonts/PTF75F_W.ttf") format("truetype"), url("../fonts/PTF75F_W.svg#PTSerif-Bold") format("svg");
}

/* end of fonts */
/* line 40, ../sass/style.scss */
body {
  font: 16px/24px "PT Serif", "Times New Roman", "Times", serif;
  color: black;
}

/* line 23, ../sass/_base.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 27, ../sass/_base.scss */
body {
  margin-bottom: 240px;
  /* bottom = footer height */
}

/* line 30, ../sass/_base.scss */
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 240px;
}

/* line 48, ../sass/style.scss */
a,
a:visited {
  color: #105b63;
  text-decoration: none;
  border-bottom: 1px solid #105b63;
}

/* line 54, ../sass/style.scss */
h3 {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 24px;
}

/* line 61, ../sass/style.scss */
h4 {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
}

/* line 67, ../sass/style.scss */
.clear {
  clear: both;
}

/* line 71, ../sass/style.scss */
.hidden {
  display: none;
}

/* line 75, ../sass/style.scss */
.page {
  *zoom: 1;
  width: 960px;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.page:after {
  content: "";
  display: table;
  clear: both;
}

/* line 79, ../sass/style.scss */
.header, .footer-inner {
  *zoom: 1;
  width: 960px;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  clear: both;
}
/* line 38, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.header:after, .footer-inner:after {
  content: "";
  display: table;
  clear: both;
}

/* line 85, ../sass/style.scss */
.header {
  height: 96px;
  background: url('../images/header-bg.png?1362142701');
}
/* line 89, ../sass/style.scss */
.header .vertical-line {
  position: absolute;
  top: 0;
  background: url('../images/header-vertical-line.png?1362704643') no-repeat;
  width: 2px;
  height: 96px;
}
/* line 94, ../sass/style.scss */
.header .vertical-line.left {
  left: -20px;
}
/* line 98, ../sass/style.scss */
.header .vertical-line.right {
  right: -15px;
}

/* line 104, ../sass/style.scss */
.backing {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  text-align: center;
}
/* line 111, ../sass/style.scss */
.backing .wrap {
  position: relative;
  width: 1024px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 118, ../sass/style.scss */
.backing .wrap .top-red-line {
  position: absolute;
  left: -128px;
  background: url('../images/top-red-line.png?1362143256') no-repeat;
  width: 1280px;
  height: 384px;
}
/* line 124, ../sass/style.scss */
.backing .wrap .bottom-red-line {
  position: absolute;
  left: -128px;
  bottom: 0px;
  background: url('../images/bottom-red-line.png?1362148129') no-repeat;
  width: 1280px;
  height: 192px;
}
/* line 131, ../sass/style.scss */
.backing .wrap .bottle-pump {
  position: absolute;
  left: -128px;
  bottom: 0px;
  background: url('../images/big-bottle-pump.png?1362153548') no-repeat;
  width: 640px;
  height: 215px;
}
/* line 138, ../sass/style.scss */
.backing .wrap .big-bottle {
  position: absolute;
  right: -128px;
  bottom: 141px;
  background: url('../images/big-bottle.png?1362155484') no-repeat;
  width: 440px;
  height: 480px;
}
/* line 145, ../sass/style.scss */
.backing .wrap .index-girl {
  position: absolute;
  right: 0;
  top: 72px;
  background: url('../images/index-girl.png?1362156598') no-repeat;
  width: 312px;
  height: 264px;
}
/* line 152, ../sass/style.scss */
.backing .wrap .girl-1 {
  position: absolute;
  right: 0;
  top: 48px;
  background: url('../images/girl-1.png?1362303475') no-repeat;
  width: 352px;
  height: 312px;
}

/* line 161, ../sass/style.scss */
.center-nav {
  width: 54.16667%;
  float: left;
  margin-right: 0%;
  display: inline;
  margin-left: 240px;
  height: 48px;
  line-height: 22px;
}
/* line 167, ../sass/style.scss */
.center-nav a {
  padding-top: 5px;
}
/* line 171, ../sass/style.scss */
.center-nav li {
  margin-right: 38px;
}
/* line 175, ../sass/style.scss */
.center-nav li:last-child {
  margin-right: 0;
}

/* line 180, ../sass/style.scss */
.main {
  margin-top: 24px;
  width: 75%;
  float: left;
  margin-right: 0%;
  display: inline;
}

/* line 185, ../sass/style.scss */
.right-aside {
  margin-top: 216px;
  width: 20.83333%;
  float: right;
  margin-right: 0;
  #margin-left: 0px;
  display: inline;
}

/* line 190, ../sass/style.scss */
.slider {
  height: 336px;
}

/* line 194, ../sass/style.scss */
.product {
  width: 27.77778%;
  float: left;
  margin-right: 0%;
  display: inline;
  margin-top: 48px;
  margin-right: 40px;
}
/* line 199, ../sass/style.scss */
.product a {
  padding-top: 5px;
}
/* line 203, ../sass/style.scss */
.right-aside .product {
  width: 100%;
  float: left;
  margin-right: 0%;
  display: inline;
}
/* line 207, ../sass/style.scss */
.product:hover {
  border: 3px solid #ffd34e;
  border-radius: 3px;
  padding-top: 14px;
  margin-top: 31px;
  margin-right: 37px;
  padding-bottom: 21px;
  margin-bottom: -24px;
  padding-left: 21px;
  margin-left: -24px;
}

/* line 220, ../sass/style.scss */
.volume {
  font-style: italic;
  color: #949494;
  font-size: 14px;
}

/* line 225, ../sass/style.scss */
.price-box {
  margin-bottom: 24px;
}

/* line 229, ../sass/style.scss */
.price {
  font-size: 14px;
  font-style: italic;
  line-height: 30px;
  position: relative;
}
/* line 235, ../sass/style.scss */
.price .big {
  font-style: normal;
  font-size: 20px;
  font-weight: bold;
}
/* line 241, ../sass/style.scss */
.price.crossed:before {
  content: '';
  position: absolute;
  top: 15%;
  left: -7%;
  background: url('../images/price-cross.png?1362708210') no-repeat;
  width: 106px;
  height: 17px;
}
/* line 249, ../sass/style.scss */
.price .sale-price {
  position: absolute;
  top: -5px;
  left: 90px;
  color: #bd4832;
}

/* line 257, ../sass/style.scss */
.footer-inner {
  margin-top: 96px;
  height: 144px;
}

/* line 262, ../sass/style.scss */
.bottle {
  float: right;
  position: relative;
}
/* line 266, ../sass/style.scss */
.bottle img {
  display: block;
}
/* line 270, ../sass/style.scss */
.bottle .bubble {
  background: url('../images/footer-bottle-bubble.png?1362076963') no-repeat;
  width: 280px;
  height: 168px;
  position: absolute;
  bottom: 48px;
  right: 80px;
  display: table;
}
/* line 277, ../sass/style.scss */
.bottle .bubble .bubble-text {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #87610d;
  font-style: italic;
}
/* line 286, ../sass/style.scss */
.bottle .bubble .bubble-text a {
  color: #87610d;
  font-style: italic;
  border-bottom: 1px solid #87610d;
}

/* line 295, ../sass/style.scss */
.logo {
  background: url('../images/logo.png?1362077797') no-repeat;
  width: 200px;
  height: 120px;
}
/* line 298, ../sass/style.scss */
.footer .logo {
  width: 25%;
  float: left;
  margin-right: 0%;
  display: inline;
  height: 96px;
  margin-top: 48px;
}
/* line 304, ../sass/style.scss */
.header .logo {
  position: absolute;
  top: 20px;
  left: 48px;
}

/* line 312, ../sass/style.scss */
.header .menu {
  width: 54.16667%;
  float: left;
  margin-right: 0%;
  display: inline;
  margin-left: 240px;
  position: relative;
}
/* line 317, ../sass/style.scss */
.header .menu li {
  height: 36px;
  line-height: 36px;
  position: relative;
}
/* line 323, ../sass/style.scss */
.header .menu a {
  color: #b07a1f;
  border-bottom: 1px solid #b07a1f;
  font-weight: bold;
  font-size: 18px;
}
/* line 330, ../sass/style.scss */
.header .menu .rhomb {
  content: '';
  display: inline-block;
  background: url('../images/little-rhomb.png?1362562474') no-repeat;
  width: 9px;
  height: 9px;
  background-position: center;
  width: 30px;
}
/* line 338, ../sass/style.scss */
.header .menu li.current {
  margin-left: -18px;
  margin-right: -18px;
}
/* line 342, ../sass/style.scss */
.header .menu li.current a {
  border: none;
}
/* line 346, ../sass/style.scss */
.header .menu li.current .wrap {
  padding-left: 5px;
  padding-right: 5px;
  height: 38px;
  float: left;
  background: url('../images/main-menu-current-bg.png?1362961482') repeat-x;
}
/* line 354, ../sass/style.scss */
.header .menu li.current:before {
  content: '';
  display: block;
  float: left;
  height: 38px;
  width: 13px;
  background: url('../images/main-menu-current-bg-left.png?1362961577');
}
/* line 363, ../sass/style.scss */
.header .menu li.current:after {
  content: '';
  display: block;
  float: left;
  height: 38px;
  width: 13px;
  background: url('../images/main-menu-current-bg-right.png?1362961933');
}
/* line 374, ../sass/style.scss */
.footer .menu {
  width: 37.5%;
  float: left;
  margin-right: 0%;
  display: inline;
  margin-top: 48px;
}
/* line 378, ../sass/style.scss */
.footer .menu li {
  margin-right: 18px;
}
/* line 383, ../sass/style.scss */
.right-aside .menu {
  font-size: 18px;
  line-height: 36px;
}
/* line 387, ../sass/style.scss */
.right-aside .menu li.current {
  margin-left: -12px;
  margin-right: -12px;
  overflow: hidden;
}
/* line 392, ../sass/style.scss */
.right-aside .menu li.current a {
  border: none;
  color: #db9e36;
}
/* line 397, ../sass/style.scss */
.right-aside .menu li.current .wrap {
  float: left;
  background: url('../images/aside-menu-current-bg.png?1362963273') repeat-x;
}
/* line 402, ../sass/style.scss */
.right-aside .menu li.current:before {
  content: '';
  display: block;
  float: left;
  width: 12px;
  height: 35px;
  background: url('../images/aside-menu-current-bg-left.png?1362963202');
}
/* line 411, ../sass/style.scss */
.right-aside .menu li.current:after {
  content: '';
  display: block;
  float: left;
  width: 12px;
  height: 35px;
  background: url('../images/aside-menu-current-bg-right.png?1362963242');
}
/* line 422, ../sass/style.scss */
.menu li {
  display: inline-block;
  vertical-align: top;
}
/* line 427, ../sass/style.scss */
.menu .vertical li {
  display: block;
}

/* line 432, ../sass/style.scss */
.wrapped-menu {
  margin-left: -40px;
}
/* line 435, ../sass/style.scss */
.wrapped-menu ul {
  background: url('../images/wrapped-menu-bg.png?1362702894') repeat-y;
  padding-left: 45px;
}
/* line 440, ../sass/style.scss */
.wrapped-menu:before {
  content: '';
  display: block;
  background: url('../images/wrapped-menu-header-bg.png?1362701989') no-repeat;
  width: 240px;
  height: 24px;
}
/* line 446, ../sass/style.scss */
.wrapped-menu:after {
  content: '';
  display: block;
  background: url('../images/wrapped-menu-footer-bg.png?1362702031') no-repeat;
  width: 240px;
  height: 24px;
}

/* line 454, ../sass/style.scss */
.underlined-menu:after {
  content: '';
  display: block;
  margin-top: 30px;
  margin-right: -10px;
  margin-left: -10px;
  margin-bottom: 24px;
  border-bottom: 1px solid #949494;
}

/* line 465, ../sass/style.scss */
.octoberweb {
  font-size: 14px;
  font-style: italic;
  line-height: 30px;
}
/* line 470, ../sass/style.scss */
.octoberweb .label:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  background: url('../images/little-octo-logo.png?1362562474') no-repeat;
  width: 19px;
  height: 19px;
  margin-right: 4px;
  margin-left: 4px;
}

/* line 480, ../sass/style.scss */
.phone {
  width: 20.83333%;
  float: right;
  margin-right: 0;
  #margin-left: 0px;
  display: inline;
  width: 190px;
  margin-top: 6px;
  text-align: right;
  line-height: 24px;
  padding-right: 10px;
  color: #444444;
}
/* line 489, ../sass/style.scss */
.phone .big {
  font-size: 24px;
  font-weight: bold;
}
/* line 494, ../sass/style.scss */
.phone .code {
  vertical-align: top;
  font-style: italic;
  font-size: 14px;
  margin-right: 5px;
}

/* line 503, ../sass/style.scss */
.breadcrumbs {
  font-size: 14px;
  line-height: 48px;
}
/* line 507, ../sass/style.scss */
.breadcrumbs li {
  display: inline-block;
}
/* line 511, ../sass/style.scss */
.breadcrumbs li:after {
  content: ' / ';
  color: #949494;
  display: 'inline-block';
}
/* line 517, ../sass/style.scss */
.breadcrumbs li:last-child:after {
  content: '';
}
/* line 521, ../sass/style.scss */
.breadcrumbs a {
  color: #949494;
  border-color: #949494;
}

/* line 527, ../sass/style.scss */
.slider {
  position: relative;
  text-align: center;
}
/* line 531, ../sass/style.scss */
.slider .window {
  background: url('../images/slider-window.png?1362105029') no-repeat;
  width: 720px;
  height: 312px;
  position: absolute;
}
/* line 536, ../sass/style.scss */
.slider img {
  width: 720px;
  height: 312px;
}
/* line 541, ../sass/style.scss */
.slider .controls {
  display: inline-block;
}
/* line 544, ../sass/style.scss */
.slider .controls li {
  background: url('../images/slider-control.png?1362100708');
  background-position: 0 0;
  width: 24px;
  height: 24px;
  display: inline-block;
}
/* line 552, ../sass/style.scss */
.slider .controls li.current {
  background: url('../images/slider-control.png?1362100708');
  background-position: -24px 0;
}

/* line 559, ../sass/style.scss */
.sticky-box {
  position: absolute;
  width: 160px;
  bottom: 240px;
  right: 75px;
  white-space: nowrap;
  line-height: 30px;
}

/* line 568, ../sass/style.scss */
.filter {
  position: relative;
  margin-bottom: 24px;
}
/* line 572, ../sass/style.scss */
.filter .drop-down {
  position: absolute;
  left: 85%;
  top: 0;
  white-space: nowrap;
}
/* line 578, ../sass/style.scss */
.filter .drop-down .title {
  display: inline-block;
  line-height: 36px;
}
/* line 582, ../sass/style.scss */
.filter .drop-down .title a {
  border-style: dashed;
}
/* line 587, ../sass/style.scss */
.filter .drop-down .title:after {
  content: '';
  display: inline-block;
  margin-left: 3px;
  background: url('../images/little-triangle.png?1362331832') no-repeat;
  width: 8px;
  height: 5px;
}
/* line 594, ../sass/style.scss */
.filter .drop-down ul {
  display: none;
}
/* line 599, ../sass/style.scss */
.filter .drop-down.opened ul {
  display: block;
}
/* line 605, ../sass/style.scss */
.filter .filter-menu li {
  padding-left: 28px;
  height: 36px;
  vertical-align: bottom;
  color: #105b63;
  font-size: 18px;
  line-height: 30px;
}
/* line 614, ../sass/style.scss */
.filter .hint {
  color: #949494;
  font-size: 14px;
  font-style: italic;
}
/* line 620, ../sass/style.scss */
.filter h4 {
  text-transform: uppercase;
  letter-spacing: 0.15em;
}
/* line 625, ../sass/style.scss */
.filter .checkbox {
  display: inline-block;
  position: absolute;
  left: 0;
  background: url('../images/check-box.png?1362339804');
  background-position: 0 0;
  width: 30px;
  height: 30px;
}
/* line 634, ../sass/style.scss */
.filter .checkbox input {
  display: none;
  margin: 0;
}
/* line 639, ../sass/style.scss */
.filter .checkbox.checked {
  background-position: -29px 0;
}

/* line 646, ../sass/style.scss */
.product-full .right-aside {
  margin-top: 120px;
  width: 240px;
}
/* line 652, ../sass/style.scss */
.product-full .description,
.product-full h4 {
  margin-top: 48px;
}

/* line 657, ../sass/style.scss */
.bulb {
  margin-top: 48px;
  margin-left: -40px;
}

/* line 662, ../sass/style.scss */
.modals {
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 3;
}
/* line 668, ../sass/style.scss */
.modals .brands {
  background: #f0eee6;
}
/* line 671, ../sass/style.scss */
.modals .brands .modal-column {
  display: inline-block;
  margin-right: 24px;
}
/* line 676, ../sass/style.scss */
.modals .brands .filters-bottom {
  width: 100%;
  margin-top: 32px;
  margin-right: 24px;
  padding-bottom: 12px;
  text-align: center;
}
/* line 683, ../sass/style.scss */
.modals .brands .filters-bottom div {
  display: inline-block;
  vertical-align: middle;
}
/* line 688, ../sass/style.scss */
.modals .brands .filters-bottom .button a {
  display: inline-block;
  vertical-align: middle;
  line-height: 62px;
  background: url('../images/brands-modal-button-bg.png?1363025151') no-repeat;
  width: 188px;
  height: 62px;
  border: none;
  color: #444444;
  font-weight: bold;
  font-size: 14px;
  text-shadow: 1px 1px 1px white;
}
/* line 700, ../sass/style.scss */
.modals .brands .filters-bottom .cancel {
  margin-left: 5px;
}
/* line 703, ../sass/style.scss */
.modals .brands .filters-bottom .cancel a {
  border-style: dashed;
}
/* line 711, ../sass/style.scss */
.modals .brands .filter:last-child {
  margin-bottom: 0;
}
/* line 715, ../sass/style.scss */
.modals .brands .filter h4, .modals .brands .filter ul {
  display: inline-block;
  vertical-align: top;
}
/* line 720, ../sass/style.scss */
.modals .brands .filter h4 {
  position: relative;
  top: -3px;
}
/* line 725, ../sass/style.scss */
.modals .brands .filter ul {
  margin-left: 15px;
}
/* line 728, ../sass/style.scss */
.modals .brands .filter ul li {
  position: relative;
}
/* line 734, ../sass/style.scss */
.modals .brands .modal-header {
  position: relative;
  background: url('../images/brands-modal-header-bg.png?1363015722') repeat-x;
  height: 37px;
  width: 100%;
}
/* line 740, ../sass/style.scss */
.modals .brands .modal-header:before {
  content: '';
  display: block;
  position: absolute;
  left: -49px;
  background: url('../images/brands-modal-header-bg-left.png?1363015669') no-repeat;
  width: 49px;
  height: 119px;
  z-index: 4;
}
/* line 749, ../sass/style.scss */
.modals .brands .modal-header:after {
  content: '';
  display: block;
  position: absolute;
  right: -35px;
  background: url('../images/brands-modal-header-bg-right.png?1363015810') no-repeat;
  width: 37px;
  height: 37px;
}
/* line 758, ../sass/style.scss */
.modals .brands .modal-page {
  position: relative;
}
/* line 761, ../sass/style.scss */
.modals .brands .modal-page:before {
  content: '';
  display: block;
  position: absolute;
  left: -35px;
  background: url('../images/brands-modal-bg-left.png?1363016497') no-repeat;
  width: 35px;
  height: 1px;
  height: 100%;
  background-repeat: repeat-y;
}
/* line 771, ../sass/style.scss */
.modals .brands .modal-page:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: -35px;
  background: url('../images/brands-modal-bg-right.png?1363016512') no-repeat;
  width: 37px;
  height: 1px;
  height: 100%;
  background-repeat: repeat-y;
}
/* line 783, ../sass/style.scss */
.modals .brands .modal-footer {
  position: relative;
  background: url('../images/brands-modal-footer-bg.png?1363019006');
  width: 100%;
  height: 35px;
}
/* line 789, ../sass/style.scss */
.modals .brands .modal-footer:before {
  content: '';
  display: block;
  position: absolute;
  left: -35px;
  background: url('../images/brands-modal-footer-bg-left.png?1363018322') no-repeat;
  width: 35px;
  height: 35px;
}
/* line 797, ../sass/style.scss */
.modals .brands .modal-footer:after {
  content: '';
  display: block;
  position: absolute;
  right: -35px;
  bottom: 0;
  background: url('../images/brands-modal-footer-bg-right.png?1363019091') no-repeat;
  width: 35px;
  height: 142px;
}
/* line 807, ../sass/style.scss */
.modals .brands .close {
  background: url('../images/modal-close.png?1363025909') no-repeat;
  width: 31px;
  height: 31px;
  position: absolute;
  top: -2px;
  right: -39px;
  cursor: pointer;
}
