{% extends 'base.html' %}

{% load thumbnail siteblocks_extras products_extras orders_extras %}

{% block content %}
<div class="main">
    <br>
    <h3 class="top-heading">Вопрос-Ответ</h3>
    {% for q in questions %}
        <div class="q-item">
            <div class="q">
                {{q.question}}
            </div>
            <div class="answer">
                {{q.answer}}
            </div>
        </div>
    {% empty %}
    Вопросов пока нет.
    {% endfor %}
</div>
<div class="right-aside">
    {% block_cart %}
    <div class="faq-aside">
        <h4>Ваш вопрос</h4>
        <p>Если Вы не нашли ответа
        на свой вопрос, то можно
        всегда его задать.
        Мы с радостью ответим!</p>
        <a href="{% url faq_form_url %}" class="button fancybox fancybox.ajax"><span class="text">Задать вопрос</span></a>
    </div>
    {% get_card_and_certificate get_all='True' %}
    <img class="bulb" src="/media/images/bulb.jpg" alt="">
</div>
{% endblock %}