<div class="modals">
    <div class="brands" id="brands-modal">
        <div class="modal-header"></div>
        <div class="modal-page">
            <form action="{% url faq_form_url %}" method="POST" class="faq-form fancybox-response">
                {% csrf_token %}

                <div class="fields">
                    <div class="fieldset {%if form.name.errors%}is-with-error{%endif%}">
                        <label class="label">Ваше имя</label>
                        <div>
                            <input class="text-input" type="text" name="name" value="{{form.name.value|default_if_none:''}}">
                            {% if form.name.errors %}
                            {{ form.name.errors }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="fieldset {%if form.email.errors%}is-with-error{%endif%}">
                        <label class="label">Ваш email</label>
                        <div>
                            <input class="text-input" type="text" name="email" value="{{form.email.value|default_if_none:''}}">
                            {% if form.email.errors %}
                            {{ form.email.errors }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="fieldset {%if form.question.errors%}is-with-error{%endif%}">
                        <label class="label">Ваш вопрос</label>
                        <div>
                            <textarea rows="6" class="textarea" type="text" name="question" value="{{form.question.value|default_if_none:''}}"></textarea>
                            {% if form.question.errors %}
                            {{ form.question.errors }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="controls">
                    <div>
                        <button type="submit" class="button"><span class="text">Отправить вопрос</span></button>
                    </div>
                </div>
                <div class="clear"></div>
            </form>
        </div>
        <div class="modal-footer"></div>
    </div>
</div>