<div class="modals">
    <div class="brands" id="brands-modal">
        <div class="modal-header"></div>
        <div class="modal-page">
            Ваш вопрос принят!
        </div>
        <div class="modal-footer"></div>
    </div>
</div>