{% extends "admin/index.html" %}

{% block content %}
<div id="content-main">
	<h3>Загрузите файл с данными о товарах</h3><br>
	<form enctype="multipart/form-data" action="/load_products/" method="post">
		<div>
		{% csrf_token %}
		{{ form }}
		</div>
		<div>
		<input type="submit">
		</div>
	</form>
</div>
{% endblock %}