// grid settings
$total-columns  : 24;             // a 12-column grid
$column-width   : 40px;            // each column is 4em wide
$gutter-width   : 0px;            // 1em gutters between columns
$grid-padding   : 32px;  // grid-padding equal to gutters

$container-style: static;
// /grid settings

// colors
$black: #000000;
$yellow: #ffd34e;
$blue: #146e78;
$dark-blue: #105b63;
$gray: #949494;
$dark-gray: #444444;
$brown: #87610d;
$dark-brown: #b07a1f;
$red: #bd4832;
$orange: #db9e36;
// /colors

@mixin my-sticky-footer($footer-height) {
	html {
	    position: relative;
	    min-height: 100%;
	}
	body {
	    margin-bottom: $footer-height; /* bottom = footer height */
	}
	.footer {
	    position: absolute;
	    left: 0;
	    bottom: 0;
	    width: 100%;
	    height: $footer-height;
	}
}

@mixin backing($image, $y-position) {
	.#{$y-position}-backing {
		width: 100%;
		height: image-height($image);
		overflow: hidden;
		position: absolute;
		#{$y-position}: 0;

		.wrap {
			position: absolute;
			z-index: -1;
			left: 50%;

			.image {
				@include background-image($image);
				margin-left: -50%;
			}
		}
	}
}

@mixin background-image($image) {
	background: image-url($image) no-repeat;
	width: image-width($image);
	height: image-height($image);
}

@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; } 
}
