@import "compass"; 
@import "susy";

@import "compass/reset";
@import "compass/css3";
@import "base"; // all custom mixins and variables
// @import "test";

// @include font-face("PT-Serif", font-files("PTF75F_W.woff", "PTF75F_W.ttf", "PTF75F_W.svg"), 'PTF75F_W.eot', 'bold');
// @include font-face("PT-Serif", font-files("PTF56F_W.woff", "PTF56F_W.ttf", "PTF56F_W.svg"), 'PTF56F_W.eot', false,'italic');
// @include font-face("PT-Serif", font-files("PTF55F_W.woff", "PTF55F_W.ttf", "PTF55F_W.svg"), 'PTF55F_W.eot');

/* fonts */
@font-face {font-family: 'PT Serif'; 
    src: url('../fonts/PTF55F_W.eot'); 
    src:
        local('PT Serif'),
        url('../fonts/PTF55F_W.woff') format('woff'),
        url('../fonts/PTF55F_W.ttf') format('truetype'),
        url('../fonts/PTF55F_W.svg#PTSerif-Regular') format('svg');}

@font-face {font-family: 'PT Serif'; 
    font-style: italic;
    src: url('../fonts/PTF56F_W.eot'); 
    src: local('PT Serif Italic'),
        url('../fonts/PTF56F_W.woff') format('woff'),
        url('../fonts/PTF56F_W.ttf') format('truetype'),
        url('../fonts/PTF56F_W.svg#PTSerif-Italic') format('svg');}

@font-face {font-family: 'PT Serif';
    src: url('../fonts/PTF75F_W.eot');
    font-style: normal;
    font-weight: bold; 
    src: local('PT Serif Bold'),
        url('../fonts/PTF75F_W.woff') format('woff'),
        url('../fonts/PTF75F_W.ttf') format('truetype'),
        url('../fonts/PTF75F_W.svg#PTSerif-Bold') format('svg');}
/* end of fonts */

$default-font-family: 'PT Serif', 'Times New Roman', 'Times', serif;

body {
	font: 16px/24px $default-font-family;
	color: $black;
	background: image-url('body-bg.png');
}

@include my-sticky-footer(240px);

a,
a:visited {
	color: $dark-blue;
	text-decoration: none;
	border-bottom: 1px solid $blue;
}

a:hover {
	color: #eb5124;
	border-bottom: 1px solid #eb5124;
}

h1 {
	font-weight: bold;
	font-size: 44px;
	line-height: 50px;
	margin-bottom: 24px;
}

h2 {
	font-weight: bold;
	font-size: 40px;
	line-height: 48px;
	margin-bottom: 24px;
}


h3 {
	font-weight: bold;
	font-size: 36px;
	line-height: 44px;
	margin-bottom: 24px;
}

h4 {
	font-weight: bold;
	font-size: 18px;
	line-height: 36px;
}

li {
	list-style: disc;

	ul.filter-menu & {
		list-style: none;
	}
}

ol li {
	list-style: decimal;
}

p {
	margin-bottom: 12px;
}

.clear {
	clear: both;
}

.hidden {
	display: none;
}

.page {
	@include container;
}

.header, .footer-inner {
	@include container;
	position: relative;
	clear: both;
}

.header {
	height: 96px;
	background: image-url('header-bg.png');

	.vertical-line {
		position: absolute;
		top: 0;
		@include background-image('header-vertical-line.png');

		&.left {
			left: -20px;
		}

		&.right {
			right: -15px;
		}
	}
}

.slider a {
	border-bottom: none;
}

.backing {
	position: absolute;
	z-index: -1;
	width: 100%;	
	height: 100%;
	text-align: center;
	overflow-x: hidden;
	
	.wrap {
		position: relative;
		width: 1024px;
		height: 100%;
		margin-left: auto;
		margin-right: auto;

		.top-red-line {
			position: absolute;
			left: -128px;
			@include background-image('top-red-line.png');
		}

		.bottom-red-line {
			position: absolute;
			left: -128px;
			bottom: 0px;
			@include background-image('bottom-red-line.png');
		}

		.bottle-pump {
			position: absolute;
			left: -128px;
			bottom: 0px;
			@include background-image('big-bottle-pump.png');
		}

		.big-bottle {
			position: absolute;
			right: -128px;
			bottom: 141px;
			@include background-image('big-bottle.png');
		}

		.index-girl {
			position: absolute;
			right: 0;
			top: 72px;
			@include background-image('index-girl.png');
		}

		.girl-1 {
			position: absolute;
			right: 0;
			top: 50px;
			@include background-image('girl-1.png');
		}

		.girl-2 {
			position: absolute;
			right: 0;
			top: 85px;
			@include background-image('girl-2.png');
		}

		.girl-3 {
			position: absolute;
			right: 0;
			top: 52px;
			@include background-image('girl-3.png');
		}
	}
}

.center-nav {
	position: relative;
	@include span-columns(13,24);
	margin-left: 240px;
	height: 48px;
	line-height: 22px;

	a {
		padding-top: 5px;
	}

	li {
		margin-right: 38px;
		margin-bottom: 15px;
	}

	li:last-child {
		margin-right: 0;
	}
}

.main {
	margin-top: 24px;
	@include span-columns(18, 24);
}

.main-full {
	margin-top: 72px;
	@include span-columns(24, 24);
}

.right-aside {
	margin-top: 115px;
	@include span-columns(5 omega,24);
}

.slider {
	height: 336px;
}

.product {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	margin-top: 48px;
	margin-right: 36px;

	a {
		padding-top: 5px;
	}

	.right-aside & {
		@include span-columns(6, 6);
	}
	
	&:hover {
		border: 3px solid $yellow;
		border-radius: 3px;
		padding-top: 14px;
		margin-top: 31px;
		margin-right: 33px;
		padding-bottom: 21px;
		margin-bottom: -24px;
		padding-left: 21px;
		margin-left: -24px;
	}
}

.cart-product {
	margin-top: 48px;
	@include clearfix;

	.img-box {
		@include span-columns(4);
		margin-right: 40px;
		text-align: center;
	}

	.description {
		@include span-columns(5);
		margin-right: 80px;
	}

	.price-input-box {
		@include span-columns(3);
		text-align: center;
		margin-right: 80px;
	}

	.price-value-box {
		@include span-columns(3);
	}

	.delete-cart-product-box {
		@include span-columns(2);
		text-align: center;

		.delete {
			margin-top: 7px;
		}
	}
}

.volume {
	font-style: italic;
	color: $gray;
	font-size: 14px;
}

.price-box {
	margin-bottom: 24px;
	display: inline-block;
	width: 120px;
}

.price-input-box {
	display: inline-block;
}

.catalog-clear {
	clear:both; 
	margin-bottom: 48px;
}

.price {
	font-size: 14px;
	font-style: italic;
	line-height: 30px;
	position: relative;

	.big {
		font-style: normal;
		font-size: 20px;
		font-weight: bold;
	}

	.old-price {
		font-size: 14px;
	}

	&.crossed:before {
		content: '';
		position: absolute;
		top: 15%;
		left: -7%;
		@include background-image('price-cross.png');
	}
}

.top-heading {
	width: 500px;
}


.footer-inner {
	margin-top: 96px;
	height: 144px;
}

.bottle {
	float: right;
	position: relative;

	img {
		display: block;
	}

	.bubble {
		@include background-image('footer-bottle-bubble.png');
		position: absolute;
		bottom: 48px;
		right: 80px;
		display: table;

		.bubble-text {
			width: 100%;
			height: 100%;
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			color: $brown;
			font-style: italic;
			padding: 0 40px;

			a {
				color: $brown;
				font-style: italic;
				border-bottom: 1px solid $brown;
			}

			a:hover {
				color: #eb5124;
				border-bottom: 1px solid #eb5124;
			}
		}
	}
}

.logo {
	@include background-image('logo.png');

	a {
		border-bottom: none;
	}

	.footer & {
		@include span-columns(6, 24);
		height: 96px;
		margin-top: 48px;
	}

	.header & {
		position: absolute;
		top: 20px;
		left: 48px;
	}
}

.menu {
	.header & {
		@include span-columns(13, 24);
		margin-left: 240px;
		position: relative;

		li {
			height: 36px;
			line-height: 36px;
			position: relative;
		}

		a {
			color: $dark-brown;
			border-bottom: 1px solid $dark-brown;
			font-weight: bold;
			font-size: 18px;
		}

		a:hover {
			color: #eb5124;
			border-bottom: 1px solid #eb5124;
		}

		.rhomb {
			content: '';
			display: inline-block;
			@include background-image('little-rhomb.png');
			background-position: center;
			width: 30px;
		}

		.modal-container {
			position: absolute;
			z-index: 100;
			white-space: nowrap;
			top: 79px;
			left: -100%;
		}

		& li:hover {
			.wrap {
				position: absolute;
				z-index: 99;
				width: 100%;
				height: 80px;
				background: image-url('main-menu-bg-center.png');
				background-position: center;
				top: -18px;
				padding-top: 18px;

				&:before,
				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 20px;
				}

				&:before {
					background: image-url('main-menu-bg-left.png');
					height: 38px;
					width: 12px;
					left: -12px;
				}

				&:after {
					background: image-url('main-menu-bg-right.png');
					height: 38px;
					width: 13px;
					right: -13px;
				}
			}
		}

		& li.with-modal:hover {
			.wrap {
				background: image-url('main-menu-bg-center-modal.png');
				background-position: center;
			}
		}
	}

	.footer & {
		@include span-columns(9, 24);
		margin-top: 48px;

		li {
			margin-right: 18px;
		}
	}

	.right-aside & {
		font-size: 18px;
		line-height: 36px;

		& li.current {
			margin-left: -12px;
			margin-right: -12px;
			overflow: hidden;

			a {
				border: none;
				color: $orange;
			}	

			a:hover {
				color: $orange;
				cursor: default;
			}

			.wrap {
				float: left;
				background: image-url('aside-menu-current-bg.png') repeat-x;
			}

			&:before {
				content: '';
				display: block;
				float: left;
				width: 12px;
				height: 35px;
				background: image-url('aside-menu-current-bg-left.png');
			}

			&:after {
				content: '';
				display: block;
				float: left;
				width: 12px;
				height: 35px;
				background: image-url('aside-menu-current-bg-right.png');
			}
		}
	}

	li {
		display: inline-block;
		vertical-align: top;
	}

	.vertical li {
		display: block;
	}
}

.wrapped-menu {
	margin-left: -40px;

	ul {
		background: image-url('wrapped-menu-bg.png') repeat-y;
		padding-left: 45px;
	}

	&:before {
		content: '';
		display: block;
		@include background-image('wrapped-menu-header-bg.png');
	}

	&:after {
		content: '';
		display: block;
		@include background-image('wrapped-menu-footer-bg.png');
	}
}

.underlined-menu {
	&:after {
		content: '';
		display: block;
		margin-top: 30px;
		margin-right: -10px;
		margin-left: -10px;
		margin-bottom: 24px;
		border-bottom: 1px solid $gray;
	}
}

.octoberweb {
	font-size: 14px;
	font-style: italic;
	line-height: 30px;

	.label:before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		@include background-image('little-octo-logo.png');
		margin-right: 4px;
		margin-left: 4px;
	}
}

.phone {
	@include span-columns(5 omega, 24);
	width: 190px;
	margin-top: 6px;
	text-align: right;
	line-height: 24px;
	padding-right: 10px;
	color: $dark-gray;

	.big {
		font-size: 24px;
		font-weight: bold;
	}

	.code {
		vertical-align: top;
		font-style: italic;
		font-size: 14px;
		margin-right: 5px;
	}

}

.breadcrumbs {
	font-size: 10px;
	line-height: 36px;
	color: #999999;

	li {
		display: inline-block;
	}

	li:after {
		content: ' / ';
		display: 'inline-block';
	}

	a {
		color: #999999;
		border-color: #999999;
	}
}

.slider {
	position: relative;
	text-align: center;

	.window {
		@include background-image('slider-window2.png');
		position: absolute;
		z-index: 99;
	}

	img {
		width: image-width('slider-window2.png');
		height: image-height('slider-window2.png');
	}

	.controls {
		display: inline-block;

		li {
			background: image-url('slider-control.png');
			background-position: 0 0;
			width: 24px;
			height: 24px;
			display: inline-block;
			cursor: pointer;
		}

		li.current {
			background: image-url('slider-control.png');
			background-position: -24px 0;
		}
	}
}

.sticky-box {
	position: absolute;
	width: 160px;
	bottom: 240px;
	right: 75px;
	white-space: nowrap;
	line-height: 30px;
	overflow: hidden;
}

.filter {
	position: relative;
	margin-bottom: 24px;

	.drop-down {
		position: absolute;
		left: 85%;
		top: 0;
		white-space: nowrap;
		
		.title {
			display: inline-block;
			line-height: 24px;

			a {
				border-style: dashed;
			}
		}

		.title:after {
			content: '';
			display: inline-block;
			margin-left: 3px;
			@include background-image('little-triangle.png');
		}

		ul {
			display: none;
		}

		&.opened {
			ul {
				display: block;
			}
		}
	}	
	
	.filter-menu li{
		padding-left: 28px;
		vertical-align: bottom;
		color: $dark-blue;
		font-size: 18px;
		line-height: 28px;
		margin-bottom: 12px;
	}

	.hint {
		color: $gray;
		font-size: 14px;
		font-style: italic;
	}

	h4 {
		text-transform: uppercase;
		letter-spacing: 0.15em;
		line-height: 24px;
		margin-bottom: 12px;
	}

	.checkbox {
		display: inline-block;
		position: absolute;
		left: 0;
		background: image-url('check-box.png');
		background-position: 0 0;
		width: 30px;
		height: 30px;

		input {
			display: none;
			margin: 0;
		}

		&.checked {
			background-position: -29px 0;
		}
	}
}

.product-full {
	.right-aside {
		margin-top: 120px;
		width: 320px;
	}

	.description,
	h4 {
		margin-top: 48px;
	}
}

.bulb {
	margin-top: 48px;
	margin-left: -40px;
}

.fancybox-skin,
.fancybox-wrap,
.fancybox-outer,
.fancybox-inner {
	background: transparent !important;
}

.fancybox-inner {
	padding-right: 35px !important;
}

.fancybox-skin {
-webkit-box-shadow: none !important;
-moz-box-shadow: none !important;
box-shadow: none !important;
}


.button {
	display: inline-block;
	vertical-align: middle;
	line-height: image-height('filter-form-button.png');
	background: image-url('filter-form-button.png');
	height: image-height('filter-form-button.png');
	border: none;
	color: #797979;
	font-family: 'PT Serif', 'Times New Roman', 'Times', serif;
	font-weight: bold;
	font-size: 14px;
	text-shadow: 1px 1px 1px #ffffff;
	cursor: pointer;
	position: relative;
	top: 7px;
	padding-left: 25px;
	padding-right: 0px;
	margin-left: -11px;
	outline: none;

	&:before {
		content: '';
		display: block;
		position: absolute;
		background: image-url('filter-form-button.png');
		height: image-height('filter-form-button.png');
		background-position: 25px;
		width: 25px;
		top: 0px;
		right: -25px;
	}

	span.text {
		position: relative;
		top: -7px;
	}

	&:hover {
		background: image-url('filter-form-button-hover.png');
		color: #797979 !important;
		border: none !important;
		outline: none;

		&:before {
			background: image-url('filter-form-button-hover.png');
			background-position: 25px;
		}
	}

	&:active {
		background: image-url('filter-form-button-active.png');
		color: #797979 !important;
		border: none !important;
		outline: none;

		&:before {
			background: image-url('filter-form-button-active.png');
			background-position: 25px;
		}
	}
}


#filters-form {
	.button {
		margin-left: -5px;
	}
}

.price-input-box {
	.button {
		top: 3px;
	}
}

.modals {
	padding-right: 49px;

	.brands {
		margin-right: -49px;
		padding-right: 49px;
		max-width: 750px;

		.modal-column-header {
			width: 150px;
		}

		.modal-column {
			display: inline-block;
			vertical-align: top;
			margin-left: 48px;
			margin-right: 12px;

			&:first-child {
				margin-left: 0px;
			}

			h4 a {
				color: $black;
				border: none;
			}
		}

		.category-menu {
			border-left: 1px solid $gray;
			padding: 5px 0 5px 10px;

			li {
				margin-bottom: 5px;
			}
		}

		.filters-bottom {
			width: 100%;
			margin-top: 32px;
			margin-right: 24px;
			padding-bottom: 12px;
			text-align: center;

			div {
				display: inline-block;
				vertical-align: middle;
			}

			.cancel {
				margin-left: 25px;

				a {
					border-style: dashed;
				}
			}
		}

		.filter {
			display: inline-block;
			margin-right: 24px;
			
			&:last-child {
				margin-bottom: 0;
			}

			h4, ul {
				display: inline-block;
				vertical-align:top;
			}

			h4 {
				position: relative;
				top: -3px;
			}

			ul {
				margin-left: 15px;

				li {
					position: relative;
					width: 150px;
					margin-bottom: 12px;
				}
			}
		}

		.modal-header {
			position: relative;
			background: image-url('brands-modal-header-bg.png') repeat-x;
			height: 37px;
			width: 100%;
			margin-left: 49px;

			&:before {
				content: '';
				display: block;
				position: absolute;
				left: -49px;
				@include background-image('brands-modal-header-bg-left.png');
				z-index: 4;
			}

			&:after {
				content: '';
				display: block;
				position: absolute;
				right: -35px;
				@include background-image('brands-modal-header-bg-right.png');
			}
		}

		.modal-page {
			position: relative;
			margin-left: 49px;
			margin-right: -49px;
			background: #f0eee6;
			min-height: 150px;

			&:before {
				content: '';
				display: block;
				position: absolute;
				left: -35px;
				@include background-image('brands-modal-bg-left.png');
				height: 100%;
				background-repeat:repeat-y;
			}

			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				right: -35px;
				@include background-image('brands-modal-bg-right.png');
				height: 100%;
				background-repeat:repeat-y;
			}
		}

		.modal-footer {
			position: relative;
			background: image-url('brands-modal-footer-bg.png');
			width: 100%;
			height: 35px;
			margin-left: 49px;

			&:before {
				content: '';
				display: block;
				position: absolute;
				left: -35px;
				@include background-image('brands-modal-footer-bg-left.png');
			}

			&:after {
				content: '';
				display: block;
				position: absolute;
				right: -35px;
				bottom: 0;
				@include background-image('brands-modal-footer-bg-right.png');
			}
		}

		.hint {
			width: 200px;
			text-align: center; 
		}
	}
}

.modal-close {
	@include background-image('modal-close.png');
	position: absolute;
	top: -2px;
	right: -39px;
	cursor: pointer;
}

.cert-text {
	width: 640px;

	p {
		margin-bottom: 18px;
	} 

	.img-box {
		@include span-columns(6, 18)
	}
}

.cert-box {
	display: inline-block;
	width: 120px;
	margin-right: 36px;
	margin-top: 24px;
	margin-bottom: 24px;

}

.special-links {
	margin-bottom: 24px;
	.img-box {
		height: 170px;
	}
}

.subscribe-form-box {
	.input-box {
		input, input:focus {
			width: 180px;
			padding: 0 5px;
			height: 30px;
			border: 1px solid #e3e3e3;
			background: #fbfbfb;
			@include border-radius(7px);
			outline: none;
			font-size: 16px;
		}

	}	
}

.card_form-box {
	margin-top: 24px;

	div.label-box {
		width: 240px;
		padding-top: 10px;

		.label {
			font-size: 18px;
			font-weight: bold;
		}

		a {
			color: #105b63;
			font-style: italic;
			font-size: 14px;
			border-bottom: 1px $blue dotted;
		}
	}

	div.label-box, div.input-box {
		display: inline-block;
		vertical-align: top;
	}

	.input-box {
		input, input:focus {
			width: 310px;
			padding: 0 5px;
			height: 30px;
			border: 1px solid #e3e3e3;
			background: #fbfbfb;
			@include border-radius(7px);
			outline: none;
			font-size: 16px;
		}

		input {
			display: inline-block;
		}

		.answer {
			display: inline-block;
			padding: 20px 26px 20px 26px;
			background: #f9eccf;
			@include border-radius(7px);
			margin-left: 7px;
			margin-top:  25px;
			color: #87610d;

			.value {
				font-size: 18px;
			}
		}
	}
}

.img-link {
	border-bottom: none !important;
}

.pagination {
    margin-top: 72px;

    li {
    	vertical-align: middle;
    }

    li + li {
        margin-left: 10px;
    }

    li.current {
        a {
            color: #ffffff;
            border-bottom: none;
        }

        padding: 7px 9px;
        @include border-radius(5px);
        background: #db9e36;
    }
}

.cart-box {
	position: relative;
	width: 199px;
	background: image-url('cart-bg.png');
	text-align: center;
	margin-top: 10px;
	margin-bottom: 72px;

	&:before,
	&:after {
		content: '';
		display: block;
		position: absolute;
		left: 0px;
		width: 199px;
	}

	&:before {
		background: image-url('cart-bg-top.png');
		height: 18px;
		top: -18px;
	}

	&:after {
		background: image-url('cart-bg-bottom.png');
		height: 18px;
		bottom: -18px;
	}

	.index-page-aside & {
		margin-left: -20px;
	}

	.button {
		margin-left: -20px;
	}
}

.buy-btn {
	margin-left: 20px;
}

.order-form, 
.faq-form {
	.text-input,
	.text-input:active, {
		display: inline-block;
		width: 218px;
		outline: none;
		height: 32px;
		line-height: 24px;
		@include border-radius(8px);
		padding: 0px 10px;
		border: 1px solid #e3e3e3;
		background: #fbfbfb;

		&.phone-input {
			width: 188px;
		}
	}

	.textarea,
	.textarea:active, {
		display: inline-block;
		width: 218px;
		outline: none;
		line-height: 24px;
		@include border-radius(8px);
		padding: 0px 10px;
		border: 1px solid #e3e3e3;
		background: #fbfbfb;
		resize: none;

		&.phone-input {
			width: 188px;
		}
	}

	.phone-pre {
		display: inline-block;
		width: 26px;
	}

	.label {
		margin-left: 7px;
	}

	.phone-label {
		margin-left: 35px;
	}
}

.faq-form {
	padding: 10px 20px;

	.fieldset {
		margin-bottom: 24px;
	}
}

.order-form {
	width: 825px;
	background: image-url('order-bg.png');
	position: relative;
	margin-top: 66px;
	margin-left: 40px;

	&:before,
	&:after {
		content: '';
		display: block;
		position: absolute;
		left: 0px;
		width: 825px;
	}

	&:before {
		background: image-url('order-bg-top.png');
		height: 18px;
		top: -18px;
	}

	&:after {
		background: image-url('order-bg-bottom.png');
		height: 18px;
		bottom: -18px;
	}

	.fields {
		@include span-columns(14);
		margin-right: 40px;
		margin-left: 30px;
	}

	.controls {
		@include span-columns(4);
	}

	.fieldset {
		@include span-columns(6);
		margin-right: 40px;
		margin-bottom: 25px;
	}
}

.big-link {
	font-size: 18px;
	line-height: 36px;
}

.price-input-wrap,
.cart-qnt-box {
	position: relative;
	display: inline-block;

	.price-input {
		box-sizing: border-box;
		height: 34px;
		line-height: 34px;
		border: 1px solid #e3e3e3;
		background: #fbfbfb;
		@include border-radius(8px);
		font-size: 16px;
		text-align: center;
		outline: none;
		width: 61px;
	}

	.minus,
	.plus {
		content: '';
		display: block;
		position: absolute;
		top: 6px;
		width: 27px;
		height: 27px;
		cursor: pointer;
	}

	.minus {
		left: -12px;
		background: image-url('minus.png');
	}

	.plus {
		right: -12px;
		background: image-url('plus.png');
	}
}

.delete {
	display: inline-block;
	vertical-align: middle;
	background: image-url('delete.png');
	width: 27px;
	height: 27px;
	cursor: pointer;
}

b {
	font-weight: bold;
}

.is-with-error {
	.text-input,
	.text-input:active,
	.textarea,
	.textarea:active {
		border-color: red;
	}

	.errorlist {
		color: red;
		font-size: 12px;
		font-family: $default-font-family;
		margin-left: 5px;

		li {
			list-style: none;
		}
	}
}

.phone-errors .errorlist {
	margin-left: 35px;
}

.top-menu-shift-li {
	margin-left: 200px;
}

.index-search {
	margin-top: 48px;

	.input-search {
		position: relative;
	}

	.text-input,
	.text-input:active {
		display: inline-block;
		width: 500px;
		outline: none;
		height: 32px;
		line-height: 24px;
		@include border-radius(8px);
		padding: 0px 80px 0px 10px;
		border: 1px solid #e3e3e3;
		background: #fbfbfb;

		@include input-placeholder {
	        font-style: italic;
	        font-family: $default-font-family;
	    }
	}

	.search-button {
		position: absolute;
		top: -4px;
		left: 516px;
	}

}

.small-search {
	position: absolute;
	bottom: 60px;
	left: 0px;

	.text-input,
	.text-input:active {
		width: 230px;
		padding: 0px 80px 0px 10px;
	}

	.search-button {
		left: 246px;
	}
}

.search-heading {
	span {
		display: inline-block;
		vertical-align: middle;
	}

	.hint {
		margin-left: 20px;
		font-size: 14px;
		font-weight: normal;
		font-style: italic;
	}
}

.page-top {
	@include clearfix;
	position: relative;
	height: 168px;
}

.q-item {
	margin-top: 48px;

	.q {
		font-weight: bold;
	}

	.answer {
		margin-top: 24px;

		&:before, &:after {
			content: '';
			display: inline-block;
			height: 16px;
			position: relative;
		}

		&:before {
			background: image-url('quote-before.png');
			width: 21px;
			margin-left: -40px;
			margin-right: 14px;
			top: -5px;
		}

		&:after {
			background: image-url('quote-before.png');
			width: 21px;
			margin-left: 14px;
			top: 24px;
		}
	}
}

h4 .hint {
	font-size: 14px;
	color: $gray;
	font-weight: normal;
	font-style: italic;
}

.search-category-box {
	margin-top: 72px;
	margin-bottom: 48px;
}

.all-search-link {
	margin-top: 48px;
}

.cart-product {
	position: relative;
}

.cart-product.deleted {
	&:after {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		background: white;
		opacity: 0.7;
	}
}

.restore-btn-box {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	line-height: 126px;
	z-index: 9;
	text-align: center;

	.restore-cart-product {
		vertical-align: middle;
	}
}

.center-text {
	text-align: center;
}

.product-image-box {
	width: 360px;
	float: left;
}