.page, .header, .footer-inner {
	// opacity: 0.7;
}
.header {
	border: 1px solid red;
	.shit {
		// height: 72px;
	}
}
.product {
	background: green;
	opacity: 0.7;
}
// .shit, .center-nav, .main, .right-aside {
// 	background: green;
// 	opacity: 0.7;
// }
.podlozhka {
	position: absolute;
	z-index: -1;
	width: 100%;

	.image {
		
		background: red;
		height: 500px;
	}
}

.main {
}
// .filter {
// 	background: green;
// 	opacity: 0.7;
// }

// .slider {
// 	background:red;
// }
// .sticky-box {
// 	background:red;
// }