@import "compass"; 
@import "susy";

@import "compass/reset";
@import "compass/css3";
@import "base"; // all custom mixins and variables
// @import "test";

// @include font-face("PT-Serif", font-files("PTF75F_W.woff", "PTF75F_W.ttf", "PTF75F_W.svg"), 'PTF75F_W.eot', 'bold');
// @include font-face("PT-Serif", font-files("PTF56F_W.woff", "PTF56F_W.ttf", "PTF56F_W.svg"), 'PTF56F_W.eot', false,'italic');
// @include font-face("PT-Serif", font-files("PTF55F_W.woff", "PTF55F_W.ttf", "PTF55F_W.svg"), 'PTF55F_W.eot');

/* fonts */
@font-face {font-family: 'PT Serif'; 
    src: url('../fonts/PTF55F_W.eot'); 
    src:
        local('PT Serif'),
        url('../fonts/PTF55F_W.woff') format('woff'),
        url('../fonts/PTF55F_W.ttf') format('truetype'),
        url('../fonts/PTF55F_W.svg#PTSerif-Regular') format('svg');}

@font-face {font-family: 'PT Serif'; 
    font-style: italic;
    src: url('../fonts/PTF56F_W.eot'); 
    src: local('PT Serif Italic'),
        url('../fonts/PTF56F_W.woff') format('woff'),
        url('../fonts/PTF56F_W.ttf') format('truetype'),
        url('../fonts/PTF56F_W.svg#PTSerif-Italic') format('svg');}

@font-face {font-family: 'PT Serif';
    src: url('../fonts/PTF75F_W.eot');
    font-style: normal;
    font-weight: bold; 
    src: local('PT Serif Bold'),
        url('../fonts/PTF75F_W.woff') format('woff'),
        url('../fonts/PTF75F_W.ttf') format('truetype'),
        url('../fonts/PTF75F_W.svg#PTSerif-Bold') format('svg');}
/* end of fonts */

body {
	font: 16px/24px 'PT Serif', 'Times New Roman', 'Times', serif;
	color: $black;
}

@include my-sticky-footer(240px);

a,
a:visited {
	color: $dark-blue;
	text-decoration: none;
	border-bottom: 1px solid $dark-blue;
}

h3 {
	font-weight: bold;
	font-size: 36px;
	line-height: 44px;
	margin-bottom: 24px;
}

h4 {
	font-weight: bold;
	font-size: 18px;
	line-height: 36px;
}

.clear {
	clear: both;
}

.hidden {
	display: none;
}

.page {
	@include container;
}

.header, .footer-inner {
	@include container;
	position: relative;
	clear: both;
}

.header {
	height: 96px;
	background: image-url('header-bg.png');

	.vertical-line {
		position: absolute;
		top: 0;
		@include background-image('header-vertical-line.png');

		&.left {
			left: -20px;
		}

		&.right {
			right: -15px;
		}
	}
}

.backing {
	position: absolute;
	z-index: -1;
	width: 100%;	
	height: 100%;
	text-align: center;
	
	.wrap {
		position: relative;
		width: 1024px;
		height: 100%;
		margin-left: auto;
		margin-right: auto;

		.top-red-line {
			position: absolute;
			left: -128px;
			@include background-image('top-red-line.png');
		}

		.bottom-red-line {
			position: absolute;
			left: -128px;
			bottom: 0px;
			@include background-image('bottom-red-line.png');
		}

		.bottle-pump {
			position: absolute;
			left: -128px;
			bottom: 0px;
			@include background-image('big-bottle-pump.png');
		}

		.big-bottle {
			position: absolute;
			right: -128px;
			bottom: 141px;
			@include background-image('big-bottle.png');
		}

		.index-girl {
			position: absolute;
			right: 0;
			top: 72px;
			@include background-image('index-girl.png');
		}

		.girl-1 {
			position: absolute;
			right: 0;
			top: 48px;
			@include background-image('girl-1.png');
		}
	}
}

.center-nav {
	@include span-columns(13,24);
	margin-left: 240px;
	height: 48px;
	line-height: 22px;

	a {
		padding-top: 5px;
	}

	li {
		margin-right: 38px;
	}

	li:last-child {
		margin-right: 0;
	}
}

.main {
	margin-top: 24px;
	@include span-columns(18, 24);
}

.right-aside {
	margin-top: 216px;
	@include span-columns(5 omega,24);
}

.slider {
	height: 336px;
}

.product, {
	@include span-columns(5, 18);
	margin-top: 48px;
	margin-right: 40px;

	a {
		padding-top: 5px;
	}

	.right-aside & {
		@include span-columns(6, 6);
	}
	
	&:hover {
		border: 3px solid $yellow;
		border-radius: 3px;
		padding-top: 14px;
		margin-top: 31px;
		margin-right: 37px;
		padding-bottom: 21px;
		margin-bottom: -24px;
		padding-left: 21px;
		margin-left: -24px;
	}
}

.volume {
	font-style: italic;
	color: $gray;
	font-size: 14px;
}
.price-box {
	margin-bottom: 24px;
}

.price {
	font-size: 14px;
	font-style: italic;
	line-height: 30px;
	position: relative;

	.big {
		font-style: normal;
		font-size: 20px;
		font-weight: bold;
	}

	&.crossed:before {
		content: '';
		position: absolute;
		top: 15%;
		left: -7%;
		@include background-image('price-cross.png');
	}

	.sale-price {
		position: absolute;
		top: -5px;
		left: 90px;
		color: $red;
	}
}

.footer-inner {
	margin-top: 96px;
	height: 144px;
}

.bottle {
	float: right;
	position: relative;

	img {
		display: block;
	}

	.bubble {
		@include background-image('footer-bottle-bubble.png');
		position: absolute;
		bottom: 48px;
		right: 80px;
		display: table;

		.bubble-text {
			width: 100%;
			height: 100%;
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			color: $brown;
			font-style: italic;

			a {
				color: $brown;
				font-style: italic;
				border-bottom: 1px solid $brown;
			}
		}
	}
}

.logo {
	@include background-image('logo.png');

	.footer & {
		@include span-columns(6, 24);
		height: 96px;
		margin-top: 48px;
	}

	.header & {
		position: absolute;
		top: 20px;
		left: 48px;
	}
}

.menu {
	.header & {
		@include span-columns(13, 24);
		margin-left: 240px;
		position: relative;

		li {
			height: 36px;
			line-height: 36px;
			position: relative;
		}

		a {
			color: $dark-brown;
			border-bottom: 1px solid $dark-brown;
			font-weight: bold;
			font-size: 18px;
		}

		.rhomb {
			content: '';
			display: inline-block;
			@include background-image('little-rhomb.png');
			background-position: center;
			width: 30px;
		}

		& li.current {
			margin-left: -18px;
			margin-right: -18px;
			
			a {
				border: none;
			}

			.wrap {
				padding-left: 5px;
				padding-right: 5px;
				height: 38px;
				float: left;
				background: image-url('main-menu-current-bg.png') repeat-x;
			}

			&:before {
				content: '';
				display: block;
				float: left;
				height: 38px;
				width: 13px;
				background: image-url('main-menu-current-bg-left.png');
			}

			&:after {
				content: '';
				display: block;
				float: left;
				height: 38px;
				width: 13px;
				background: image-url('main-menu-current-bg-right.png');
			}
		}
	}

	.footer & {
		@include span-columns(9, 24);
		margin-top: 48px;

		li {
			margin-right: 18px;
		}
	}

	.right-aside & {
		font-size: 18px;
		line-height: 36px;

		& li.current {
			margin-left: -12px;
			margin-right: -12px;
			overflow: hidden;

			a {
				border: none;
				color: $orange;
			}	

			.wrap {
				float: left;
				background: image-url('aside-menu-current-bg.png') repeat-x;
			}

			&:before {
				content: '';
				display: block;
				float: left;
				width: 12px;
				height: 35px;
				background: image-url('aside-menu-current-bg-left.png');
			}

			&:after {
				content: '';
				display: block;
				float: left;
				width: 12px;
				height: 35px;
				background: image-url('aside-menu-current-bg-right.png');
			}
		}
	}

	li {
		display: inline-block;
		vertical-align: top;
	}

	.vertical li {
		display: block;
	}
}

.wrapped-menu {
	margin-left: -40px;

	ul {
		background: image-url('wrapped-menu-bg.png') repeat-y;
		padding-left: 45px;
	}

	&:before {
		content: '';
		display: block;
		@include background-image('wrapped-menu-header-bg.png');
	}

	&:after {
		content: '';
		display: block;
		@include background-image('wrapped-menu-footer-bg.png');
	}
}

.underlined-menu {
	&:after {
		content: '';
		display: block;
		margin-top: 30px;
		margin-right: -10px;
		margin-left: -10px;
		margin-bottom: 24px;
		border-bottom: 1px solid $gray;
	}
}

.octoberweb {
	font-size: 14px;
	font-style: italic;
	line-height: 30px;

	.label:before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		@include background-image('little-octo-logo.png');
		margin-right: 4px;
		margin-left: 4px;
	}
}

.phone {
	@include span-columns(5 omega, 24);
	width: 190px;
	margin-top: 6px;
	text-align: right;
	line-height: 24px;
	padding-right: 10px;
	color: $dark-gray;

	.big {
		font-size: 24px;
		font-weight: bold;
	}

	.code {
		vertical-align: top;
		font-style: italic;
		font-size: 14px;
		margin-right: 5px;
	}

}

.breadcrumbs {
	font-size: 14px;
	line-height: 48px;

	li {
		display: inline-block;
	}

	li:after {
		content: ' / ';
		color: $gray;
		display: 'inline-block';
	}

	li:last-child:after {
		content: '';
	}

	a {
		color: $gray;
		border-color: $gray; 
	}
}

.slider {
	position: relative;
	text-align: center;

	.window {
		@include background-image('slider-window.png');
		position: absolute;
	}

	img {
		width: image-width('slider-window.png');
		height: image-height('slider-window.png');
	}

	.controls {
		display: inline-block;

		li {
			background: image-url('slider-control.png');
			background-position: 0 0;
			width: 24px;
			height: 24px;
			display: inline-block;
		}

		li.current {
			background: image-url('slider-control.png');
			background-position: -24px 0;
		}
	}
}

.sticky-box {
	position: absolute;
	width: 160px;
	bottom: 240px;
	right: 75px;
	white-space: nowrap;
	line-height: 30px;
}

.filter {
	position: relative;
	margin-bottom: 24px;

	.drop-down {
		position: absolute;
		left: 85%;
		top: 0;
		white-space: nowrap;
		
		.title {
			display: inline-block;
			line-height: 36px;

			a {
				border-style: dashed;
			}
		}

		.title:after {
			content: '';
			display: inline-block;
			margin-left: 3px;
			@include background-image('little-triangle.png');
		}

		ul {
			display: none;
		}

		&.opened {
			ul {
				display: block;
			}
		}
	}	
	
	.filter-menu li{
		padding-left: 28px;
		height: 36px;
		vertical-align: bottom;
		color: $dark-blue;
		font-size: 18px;
		line-height: 30px;
	}

	.hint {
		color: $gray;
		font-size: 14px;
		font-style: italic;
	}

	h4 {
		text-transform: uppercase;
		letter-spacing: 0.15em;
	}

	.checkbox {
		display: inline-block;
		position: absolute;
		left: 0;
		background: image-url('check-box.png');
		background-position: 0 0;
		width: 30px;
		height: 30px;

		input {
			display: none;
			margin: 0;
		}

		&.checked {
			background-position: -29px 0;
		}
	}
}

.product-full {
	.right-aside {
		margin-top: 120px;
		width: 240px;
	}

	.description,
	h4 {
		margin-top: 48px;
	}
}

.bulb {
	margin-top: 48px;
	margin-left: -40px;
}

.modals {
	position: absolute;
	top: 100px;
	left: 100px;
	z-index: 3;

	.brands {
		background: #f0eee6;

		.modal-column {
			display: inline-block;
			margin-right: 24px;
		}

		.filters-bottom {
			width: 100%;
			margin-top: 32px;
			margin-right: 24px;
			padding-bottom: 12px;
			text-align: center;

			div {
				display: inline-block;
				vertical-align: middle;
			}

			.button a {
				display: inline-block;
				vertical-align: middle;
				line-height: image-height('brands-modal-button-bg.png');
				@include background-image('brands-modal-button-bg.png');
				border: none;
				color: $dark-gray;
				font-weight: bold;
				font-size: 14px;
				text-shadow: 1px 1px 1px #ffffff;
			}

			.cancel {
				margin-left: 5px;

				a {
					border-style: dashed;
				}
			}
		}

		.filter {
			
			&:last-child {
				margin-bottom: 0;
			}

			h4, ul {
				display: inline-block;
				vertical-align:top;
			}

			h4 {
				position: relative;
				top: -3px;
			}

			ul {
				margin-left: 15px;

				li {
					position: relative;
				}
			}
		}

		.modal-header {
			position: relative;
			background: image-url('brands-modal-header-bg.png') repeat-x;
			height: 37px;
			width: 100%;

			&:before {
				content: '';
				display: block;
				position: absolute;
				left: -49px;
				@include background-image('brands-modal-header-bg-left.png');
				z-index: 4;
			}

			&:after {
				content: '';
				display: block;
				position: absolute;
				right: -35px;
				@include background-image('brands-modal-header-bg-right.png');
			}
		}

		.modal-page {
			position: relative;

			&:before {
				content: '';
				display: block;
				position: absolute;
				left: -35px;
				@include background-image('brands-modal-bg-left.png');
				height: 100%;
				background-repeat:repeat-y;
			}

			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				right: -35px;
				@include background-image('brands-modal-bg-right.png');
				height: 100%;
				background-repeat:repeat-y;
			}
		}

		.modal-footer {
			position: relative;
			background: image-url('brands-modal-footer-bg.png');
			width: 100%;
			height: 35px;

			&:before {
				content: '';
				display: block;
				position: absolute;
				left: -35px;
				@include background-image('brands-modal-footer-bg-left.png');
			}

			&:after {
				content: '';
				display: block;
				position: absolute;
				right: -35px;
				bottom: 0;
				@include background-image('brands-modal-footer-bg-right.png');
			}
		}
		
		.close {
			@include background-image('modal-close.png');
			position: absolute;
			top: -2px;
			right: -39px;
			cursor: pointer;
		}
	}
}