{% load siteblocks_extras products_extras %}

<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="/media/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/media/js/fancybox/jquery.fancybox.css" type="text/css">
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="css/ie.css">
    <![endif]-->
    <script type="text/javascript" src="/media/js/jquery.js"></script>
    <script type="text/javascript" src="/media/js/fancybox/jquery.fancybox.js"></script>
    <script type="text/javascript" src="/media/js/script.js"></script>
    <script type="text/javascript" src="/media/js/jquery.bxslider.min.js"></script>
    <title>
        {% block title %}
            {% if meta.title %}
                {% ifnotequal meta.title ''  %}
                    {{ meta.title }} &mdash;
                {% endifnotequal %}
            {% endif %}
        {% endblock %}
        {{ site_name }}
    </title>
</head>
<body>
    {% include '_yandex_metrika.html' %}
    
    <div class="backing">
        <div class="wrap">
            <div class="top-red-line"></div>
            <div class="bottom-red-line"></div>
            {% if is_index_page == 'True' %}
            <div class="index-girl"></div>
            <div class="bottle-pump"></div>
            <div class="big-bottle"></div>
            {% else %}
            {% get_girl %}
            {% endif %}
        </div>
    </div>

    <div class="header">
        <div class="logo">
            <a href="/">
                <img src="/media/images/logo.png">
            </a>
        </div>
        <div class="menu main-menu">
            <div class="vertical-line left"></div>
            <ul>
            {% for category in root_categories %}
                {% if not category.has_not_empty_subcategories %}
                <li class="item{% if current_category == category or current_category.get_root == category %} current{% endif %}">
                    <div class="wrap">                        
                        <a href="{% url catalog_url category.full_path %}">{{ category.name }}</a>                                          
                    </div>
                </li>
                {% else %}
                <li class="item with-modal{% if current_category == category or current_category.get_root == category %} current{% endif %}">
                    <div class="wrap">                        
                        <a class="main-menu-link" href="{% url catalog_url category.full_path %}get_category_modal/">{{ category.name }}</a>                        
                    </div>
                    <div class="modal-container hidden">
                        {% include 'products/category_modal.html' %}
                    </div>
                </li>
                {% endif %}

                {% if not forloop.counter == 4 or forloop.counter == 7 %}
                <li class="item-rhomb"><span class="rhomb"></span></li>
                {% endif %}
            {% endfor %}
            </ul>
            <div class="vertical-line right"></div>
        </div>
        <div class="phone">
            <!-- <span class="code">+7 (3022)</span> <span class="big">35-16-16</span><br> -->
            <span class="code">{{phone_code}}</span> <span class="big">{{phone}}</span><br>
            <a href="/contacts/">Схема проезда</a>
        </div>
    </div>

    <div class="page">
        <div {% if not request.path == '/' %}class="page-top"{% endif %}>

        <div class="center-nav">
            <div class="menu">
                <ul>
                    <li><a href="{% url special_offers_list_url %}">Наши рекомендации</a></li>
                    <li><a href="{% url card_url %}">Дисконтная<br>программa</a></li>
                    <li><a href="{% url certificate_url %}">Подарочный<br>сертификат</a></li>
                    {% if not request.path == '/' %}
                    <li class="top-menu-shift-li"><a href="{% url faq_url %}">Вопрос-ответ</a></li>
                    <li><a href="/jobs/">Вакансии</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% if not request.path == '/' %}
            <div class="index-search small-search">
                <form method="get" action="/search/">
                <h4 class="search-heading"><span>Поиск в каталоге товаров</span></h4>
                <fieldset class="input-search">
                    <input class="text-input" type="text" name="q" placeholder="Название товара">
                    <button type="submit" class="button search-button"><span class="text">Найти</span></button>
                </fieldset>
                </form>
            </div>
            {% endif %}

        </div>

        {% block content %}{% endblock %}
    </div>

    <div class="footer">
        <div class="footer-inner">
            <div class="logo"></div>
            <div class="menu">
                <ul>
                    <li><a href="/about/">О магазине</a></li>
                    <li><a href="/contacts/">Контакты</a></li>
                    <li><a href="{% url special_offers_list_url %}">Наши рекомендации</a></li>
                </ul>
                <div class="octoberweb">
                    Сайт разработан в студии <span class="label"><a href="http://octoberweb.ru">«OctoberWeb»</a></span>
                </div>
            </div>
            {% get_footer_product %}
            {% if is_index_page == 'True' %}
            <div class="sticky-box">
                <div class="menu">
                    <ul class="vertical">
                        {% for category in root_categories %}
                        <li><a href="{% url catalog_url category.full_path %}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</body>
</html>