{% extends "base.html" %}

{% load thumbnail products_extras orders_extras %}

{% if page.title %}
    {% block title %}
        {{ page.title }} &mdash;
    {% endblock %}
{% endif %}

{% block content %}
    <div class="main">
        <div class="slider">
            <a href="{{banners.0.url}}" class="banner-link"><div class="window"></div></a>
            <ul class="banner-slider">
                {% for banner in banners %}
                <li data-idx="{{forloop.counter}}">
                    <a href="{{banner.url}}">
                    {% thumbnail banner.image "720x312" as im %}
                    <img src="{{im.url}}" width="{{im.width}}" height="{{im.height}}" alt="">
                    {% endthumbnail %}
                    </a>
                </li>
                {% empty %}
                <li>
                    <a href="/">
                    <img src="/media/images/banner-no-image.jpg" alt="">
                    </a>
                </li>
                {% endfor %}
            </ul>
            <ul class="controls banner-slider-controls">
                {% for banner in banners %}
                <li data-idx="{{forloop.counter}}" {% if forloop.first %}class="current"{% endif %}></li>
                {% endfor %}
            </ul>
        </div>
        <div class="index-search">
            <form method="get" action="/search/">
                <h4 class="search-heading"><span>Поиск в каталоге товаров</span> <span class="hint">если вам нужно найти конкретный товар</span></h4>
                <fieldset class="input-search">
                    <input class="text-input" type="text" name="q" placeholder="Название товара">
                    <button type="submit" class="button search-button"><span class="text">Найти</span></button>
                </fieldset>
            </form>
        </div>
        <div class="special-links">
            {% get_card %}
            <div class="product">
                <div class="img-box">
                    <a href="{% url special_offers_list_url %}" class="img-link">
                        <img src="/media/images/special-offers.png" alt="">
                    </a>
                </div>
                <div class="description">
                    <div class="title"><a href="{% url special_offers_list_url %}">Наши рекомендации</a></div>
                </div>
            </div>
            {% get_certificate %}
        </div>
    </div>
    <div class="right-aside index-page-aside">
        {% block_cart %}
    </div>
{% endblock %}

