{% load thumbnail %}

<div class="cart-product not-deleted" data-product-id="{{cart_product.id}}">
    <div class="img-box">
        <a href="/products/{{ cart_product.product.product.id }}" class="img-link">
            {% if cart_product.product.product.image %}
            {% thumbnail cart_product.product.product.image "180x120" format="PNG" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
            {% endthumbnail %}
            {% else %}
                <img src="/media/images/noimage.png" alt="">
            {% endif %}
        </a> 
    </div> 
    <div class="description">
        <div class="title"><a href="/products/{{ cart_product.product.product.id }}">{{ cart_product.product.product.title }}</a></div>
        <div class="volume">{{ cart_product.product.prop_value|default_if_none:'' }} {{ cart_product.product.product.prop_name|default_if_none:'' }}</div>
        <div class="price"><span class="big">{{ cart_product.product.get_str_price }}</span> руб.</div>
    </div>
    <div class="price-input-box">
        <div class="cart-qnt-box">
            <div class="minus"></div>
            <input type="text" class="price-input" value="{{cart_product.count}}" name="qty">
            <div class="plus"></div>
        </div>
    </div>
    <div class="price-value-box">
        <div class="price">
            <span class="big total-price">{{cart_product.get_str_total}}</span> руб.
        </div>
    </div>
    <div class="delete-cart-product-box">
        <span class="delete delete-cart-product"></span>
    </div>

    <div class="restore-btn-box">
        <button type="submit" class="button restore-cart-product"><span class="text">Восстановить</span></button>
    </div>
</div>