{% load pymorphy_tags %}

<div class="cart-box">
    {% if cart_products_count > 0 %}
    <a href="/cart/" class="big-link">Ваш заказ</a>
    <div>{{cart_products_count}} {{'Товар'|plural:cart_products_count}}<br>
    На {{cart_total}} {{'рубль'|plural:cart_total}}</div>
    <a class="button" href="/cart/"><span class="text">Оформить</span></a>
    {% else %}
    <div class="big-link"><b>Ваш заказ</b></div>
    <div>Корзина пуста</div>
    {% endif %}
</div>