{% extends 'base.html' %}

{% load thumbnail siteblocks_extras products_extras orders_extras %}

{% block content %}
    <div class="main-full">
        <h3 class="top-heading">Ваш заказ</h3>

        <form method="post" action="/cart/">
        {% csrf_token %}
        <div class="cart-products">
            {% if cart_products %}
                {% for product in cart_products %}
                    {% include 'orders/_cart_product.html' with cart_product=product %}
                {% endfor %}
            {% else %}
                Корзина пуста.
            {% endif %}
        </div>
        <div class="order-form">
            <div class="fields">
                <div class="fieldset {%if order_form.full_name.errors%}is-with-error{%endif%}">
                    <label class="label">Ваше имя</label>
                    <input class="text-input" type="text" name="full_name" value="{{order_form.full_name.value|default_if_none:''}}">
                    {% if order_form.full_name.errors %}
                    {{ order_form.full_name.errors }}
                    {% endif %}
                </div>
                <div class="fieldset {%if order_form.phone.errors%}is-with-error{%endif%}">
                    <label class="phone-label">Ваш телефон</label>
                    <div>
                        <span class="phone-pre">+7</span>
                        <input class="text-input phone-input" type="text" name="phone" value="{{order_form.phone.value|default_if_none:''}}">
                        {% if order_form.phone.errors %}
                        <div class="phone-errors">
                            {{ order_form.phone.errors }}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="help-text">
                    {{order_help_text|safe}}
                </div>
            </div>
            <div class="controls">
                <div>Итоговая стоимость</div>
                <div class="price">
                    <span class="big cart-total-price">{{cart_str_total}}</span> руб.
                </div>
                <div>
                    <button type="submit" class="button"><span class="text">Отправить заказ</span></button>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
{% endblock %}