{% load pytils_numeral %}
<p><h2>Шарм - Информация по заказу №{{ order.id }}</h2>
<p>Дата заказа: {{ order.create_date }}</p>
<p>Заказчик: {{ order.full_name }}</p>
<p>Телефон: {{ order.phone }}</p>
<p>Сумма заказа: {{ order.total_price }} руб.</p>
<hr>
<h3>Товары:</h3>
<ul>
{% for product in products %}
    <li>{{ product.product.title }} (в количестве {{ product.count }} {{ product.count|choose_plural:"товар,товара,товаров" }}, на сумму {{ product.get_str_total }} руб).</li>
</ul>
{% endfor %}
</p>