<div class="center-nav">
	<div class="menu">
		<ul>
			<li><a href="{% url special_offers_list_url %}">Наши рекомендации</a></li>
			<li><a href="{% url card_url %}">Дисконтная<br>программa</a></li>
			<li><a href="{% url certificate_url %}">Подарочный<br>сертификат</a></li>
		</ul>
	</div>
</div>